<div class="list-flight">
  <div class="row m-0">
    <div class="col-md-6 p-0" *ngIf="flightListDepart.length > 0">
      <div class="mb-4 position-relative" *ngFor="let flightRow of flightListDepart; let i = index;">
        <div class="row row-eq-height flight-card m-0">
          <div class="col-sm-8 left-panel">
            <div class="c-header">
              <div class="row">
                <div class="col-4 f-logo text-left">
                  <img src="assets/images/flight/{{flightRow.OD[0].FS[0].vc}}.png" alt="">
                  <span class="f-name">{{getAirlineName(flightRow.OD[0].FS[0].vc)}} - {{flightRow.OD[0].FS[0].vc}} - {{flightRow.OD[0].FS[0].fl}}</span>
                </div>
                <div class="col-4 text-center">
                    <span class="badge badge-gray">Non stop</span>
                    <span class="badge badge-outline">{{flightRow.OD[0].tdu}} hrs.</span>
                </div>
                <div class="col-4 text-right">
                  <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                </div>
              </div>
            </div>
            <div class="c-body">
              <p class="f-timing">
                <span class="dept-time">{{flightRow.OD[0].FS[0].dd}}</span>
                <span class="flight-type direct-flight"></span>
                <span class="arrvl-time">{{flightRow.OD[0].FS[0].ad}}</span>
              </p>
            </div>
          </div>
          <div class="col-sm-4 right-panel">
            <input class="input-hidden" [value]='flightRow' type="radio" name="departFlights" [(ngModel)]="departFlightSelected" (change)="handleDepartFlightChange($event)">
            <div class="book-panel" for="flight1">
              <h4 class="class">{{flightRow.OD[0].classtype}}</h4>
              <span class="p-from">From</span>
              <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> {{getFareDepart(flightRow.ID) | number:'.0'}}</span>
              <span class="radio-btn"></span>
            </div>
          </div>
          <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card">
              <div class="card-body">
                You can collapse this card by clicking Toggle
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0" *ngIf="flightListReturn.length > 0">
      <div class="mb-4 position-relative" *ngFor="let flightRow of flightListReturn; let i = index;">
        <div class="row row-eq-height flight-card m-0">
          <!-- <span class="sl-no">01</span> -->
          <div class="col-sm-8 left-panel">
            <div class="c-header">
              <div class="row">
                <div class="col-4 f-logo text-left p-0">
                  <img src="assets/images/flight/{{flightRow.OD[0].FS[0].vc}}.png" alt="">
                  <span class="f-name">{{getAirlineName(flightRow.OD[0].FS[0].vc)}} - <br> {{flightRow.OD[0].FS[0].vc}} - {{flightRow.OD[0].FS[0].fl}}</span>
                </div>
                <div class="col-4 text-center p-0">
                    <span class="badge badge-gray">Non stop</span>
                    <span class="badge badge-outline">{{flightRow.OD[0].tdu}} hrs.</span>
                </div>
                <div class="col-4 text-right p-0">
                  <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                </div>
              </div>
            </div>
            <div class="c-body">
              <p class="f-timing">
                <span class="dept-time">{{flightRow.OD[0].FS[0].dd}}</span>
                <span class="flight-type direct-flight"></span>
                <span class="arrvl-time">{{flightRow.OD[0].FS[0].ad}}</span>
              </p>
            </div>
          </div>
          <div class="col-sm-4 right-panel">
            <input class="input-hidden" [value]='flightRow' type="radio" name="returnFlights" [(ngModel)]="returnFlightSelected" (change)="handleDepartFlightChange($event)">
            <div class="book-panel" for="flight1">
              <h4 class="class">{{flightRow.OD[0].classtype}}</h4>
              <span class="p-from">From</span>
              <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> {{getFareReturn(flightRow.ID) | number:'.0'}}</span>
              <span class="radio-btn"></span>
            </div>
          </div>
          <div id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card">
              <div class="card-body">
                You can collapse this card by clicking Toggle
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>