<div class="container-fluid">
  <div class="main-section">
    <div class="header">
      <h3 class="float-left m-0">My support</h3>
      <div class="clearfix"></div>
    </div>
    <div class="row p-10">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Web form details</h5>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control">
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Booking reference</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" disabled value="saransh@orastays.com">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Contact number</label>
                  <input type="text" class="form-control" disabled value="+91 6290493191">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3">
                <div class="form-group">
                  <select name="" class="form-control">
                    <option value="">Refund</option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-md-9">
                <label class="mr-3 c-pointer">
                  <input checked="" class="option-input radio" name="hotelType" type="radio"> Flights 
                </label>
                <label class="mr-3 c-pointer">
                  <input checked="" class="option-input radio" name="hotelType" type="radio"> Homestays 
                </label>
                <label class="mr-3 c-pointer">
                  <input checked="" class="option-input radio" name="hotelType" type="radio"> Guest house 
                </label>
                <label class="mr-3 c-pointer">
                  <input checked="" class="option-input radio" name="hotelType" type="radio"> Paying guest 
                </label>
                <label class="mr-3 c-pointer">
                  <input checked="" class="option-input radio" name="hotelType" type="radio"> Hotels 
                </label>
              </div> -->
            </div>
            <div class="row mb-2">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="" class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>