<!-- Header Image -->
<div class="container-fluid header-image-slide p-0">
  <img class="w-100" src="assets/images/property-banner.png" />
</div>

<div class="container-fluid flight-list-section">
  <div class="row">
    <!-- Filter Section -->
    <div class="col-md-3">
      <div class="flight-found">
        <span class="icon"></span>
        <p class="pl-1"><span>66 Flights  </span> are found</p>
      </div>
      <!-- Quick Filter -->
      <div class="card flight-quick-search mb-3">
        <div class="card-header">Book your flight</div>
        <div class="card-body">
          <form class="booking-form">
            <div class="form-group flight-location">
              <div class="input-group">
                <input type="text" class="form-control fromBoxInput" placeholder="From">
                <div class="input-group-append fromBox">
                  <span class="input-group-text"><i class="fa fa-map-marker"></i></span>                          
                </div>
                <i class="switch-location"></i>
                <input type="text" class="form-control toBoxInput" placeholder="To">
                <div class="input-group-append toBox">
                  <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select name="" class="form-control">
                <option value="">One way</option>
                <option value="">Round trip</option>
                <option value="">Multi city</option>
              </select>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input class="form-control border-right-0" placeholder="Depart"
                  name="dpDepart" [(ngModel)]="f_fromDate" ngbDatepicker (click)="dpFlight.toggle()">
                <input class="form-control dtpickerHide" placeholder="Depart"
                    name="dp" ngbDatepicker #dpFlight="ngbDatepicker" 
                    ngModel (ngModelChange)="onDateSelectionFlight($event)" 
                    [displayMonths]="1" [dayTemplate]="tFlight" outsideDays="hidden" 
                    [navigation]="'false'" [autoClose]="'outside'" [placement]="'bottom-left'" type="text">

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar checkin-pick" (click)="dpFlight.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <input class="form-control border-right-0" placeholder="Return"
                        name="dpReturn" [(ngModel)]="f_toDate" ngbDatepicker (click)="dpFlight.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar checkout-pick" (click)="dpFlight.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <ng-template #tFlight let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRangeFlight(date)"
                        [class.faded]="isHoveredFlight(date) || isInsideFlight(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div ngbDropdown class="d-inline-block travellersDropdown">
                  <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Travellers</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div class="form-row align-items-center">
                      <div class="col-12">
                        <div class="form-group d-flex justify-content-between">
                          <label for="" class="text">Adults <span> (+12 yrs)</span></label>
                          <ng-number-picker class="ng-number-picker"></ng-number-picker>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group d-flex justify-content-between">
                          <label for="" class="text">Children <span> (2 to 12 yrs)</span></label>
                          <ng-number-picker class="ng-number-picker"></ng-number-picker>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group d-flex justify-content-between">
                          <label for="" class="text">Infant <span> (Below 2 yrs)</span></label>
                          <ng-number-picker class="ng-number-picker"></ng-number-picker>
                        </div>
                      </div>
                    </div>
                    <hr class="mt-0">
                    <label class="c-pointer radio-btn">
                      <input checked="" class="option-input radio" name="stayType" type="radio"> Business class 
                    </label>
                    <label class="c-pointer radio-btn">
                      <input class="option-input radio" name="stayType" type="radio"> Premium economy class
                    </label>
                    <label class="c-pointer radio-btn">
                      <input class="option-input radio" name="stayType" type="radio"> Economy class
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-right mt-4 mb-0 clearfix">
              <button type="button" class="btn btn-primary btn-lg search-btn" routerLink="/flight-list"><i class="search-icon"></i>Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- flight List Section -->
    <div class="col-md-9">
      <!-- flight List -->
      <div class="flight-listing-area mb-4">
        <div class="row row-eq-height mr-0">
          <div class="col-md-4 left-panel-blue">
            <div class="h-top">
              <span>Departure</span>
            </div>
            <div class="h-bottom">
              <h5>Kolkata (CCU)</h5>
              <span>26th Dec 2018</span>
              <small>30 Flights found</small>
              <div class="flight-icon-roundtrip"></div>
            </div>
          </div>
          <div class="col-md-4 right-panel-blue">
            <div class="d-inline-block text-left">
              <div class="h-top">
                <span>Departure</span>
              </div>
              <div class="h-bottom">
                <h5>Bengaluru (BLR)</h5>
                <span>26th Dec 2018</span>
                <small>26 Flights found</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 last-panel-blue">
            <div class="filter-panel d-flex justify-content-between">
              <div class="col-auto p-0">
                  <button class="btn btn-filter">[+]  more Filter search </button>
              </div>
              <div class="col-auto p-0">
                <div class="d-inline-block">
                  <label class="check-box ng-star-inserted">Direct 
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="check-box ng-star-inserted">1 Stop 
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="date-filter">
              <div class="row">
                <div class="col-md-6">
                  <div class="float-left">
                    <p class="text">Depart</p>
                    <label for="" class="date-picker">26th Dec</label>
                  </div>
                  <div class="float-right">
                    <button><i class="date-left-btn fa fa-long-arrow-left"></i></button> 
                    <button><i class="date-right-btn fa fa-long-arrow-right"></i></button> 
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="float-left">
                    <p class="text">Depart</p>
                    <label for="" class="date-picker">26th Dec</label>
                  </div>
                  <div class="float-right">
                    <button><i class="date-left-btn fa fa-long-arrow-left"></i></button> 
                    <button><i class="date-right-btn fa fa-long-arrow-right"></i></button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list-flight">
          <div class="row m-0">
            <div class="col-md-6 p-0">
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet - SG-742</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet - SG-742</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet - SG-742</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet - SG-742</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet - SG-742</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-0">
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <!-- <span class="sl-no">01</span> -->
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left p-0">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet <br> SG-742</span>
                        </div>
                        <div class="col-4 text-center p-0">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right p-0">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight1" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <!-- <span class="sl-no">01</span> -->
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left p-0">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet <br> SG-742</span>
                        </div>
                        <div class="col-4 text-center p-0">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right p-0">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight1" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <!-- <span class="sl-no">01</span> -->
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left p-0">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet <br> SG-742</span>
                        </div>
                        <div class="col-4 text-center p-0">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right p-0">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight1" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <!-- <span class="sl-no">01</span> -->
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left p-0">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet <br> SG-742</span>
                        </div>
                        <div class="col-4 text-center p-0">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right p-0">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight1" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4 position-relative">
                <div class="row row-eq-height flight-card m-0">
                  <!-- <span class="sl-no">01</span> -->
                  <div class="col-sm-8 left-panel">
                    <div class="c-header">
                      <div class="row">
                        <div class="col-4 f-logo text-left p-0">
                          <img src="assets/images/flight/fl-1.png" alt="">
                          <span class="f-name">Spicejet <br> SG-742</span>
                        </div>
                        <div class="col-4 text-center p-0">
                            <span class="badge badge-gray">Non stop</span>
                            <span class="badge badge-outline">02:30 hrs.</span>
                        </div>
                        <div class="col-4 text-right p-0">
                          <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
                        </div>
                      </div>
                    </div>
                    <div class="c-body">
                      <p class="f-timing">
                        <span class="dept-time">14:30 PM</span>
                        <span class="flight-type direct-flight"></span>
                        <span class="arrvl-time">07:00 PM</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4 right-panel">
                    <input class="input-hidden" id="flight1" name="bookFlight1" type="radio">
                    <div class="book-panel" for="flight1">
                      <h4 class="class">Business class</h4>
                      <span class="p-from">From</span>
                      <span class="price">₹34,581</span>
                      <span class="radio-btn"></span>
                    </div>
                  </div>
                  <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Sticky bar -->
  <div class="footer-sticky-bar">
    <div class="d-flex justify-content-center">
      <div class="col-auto flight-logo">
        <img src="assets/images/flight/fl-1.png" alt="">
        <p>Spicejet <span> SG-742</span></p>
      </div>
      <div class="col-auto dept-time">
        <p>14:30 PM | <span class="s-name">CCU</span> <br> <span class="date">26th Dec 2018 </span></p>
      </div>
      <div class="col-auto arrvl-time">
        <i class="fa fa-long-arrow-right"></i>
        <!-- <i class="trip-icon"></i> -->
        <p>16:30 PM |  <span class="s-name">BLR</span> <br> <span class="date">26th Dec 2018 </span></p>
      </div>
      <div class="col-auto details border-right">
        <i class="trip-icon"></i>
        <p>
          <span class="price">₹30,672</span><br>
          <span class="d-btn">Details</span>
        </p>
      </div>
      <div class="col-auto flight-logo p-l-30">
        <img src="assets/images/flight/fl-1.png" alt="">
        <p>Spicejet <span> SG-742</span></p>
      </div>
      <div class="col-auto dept-time">
        <p>14:30 PM | <span class="s-name">CCU</span> <br> <span class="date">26th Dec 2018 </span></p>
      </div>
      <div class="col-auto arrvl-time">
        <!-- <i class="trip-icon"></i> -->
        <i class="fa fa-long-arrow-right"></i>
        <p>16:30 PM |  <span class="s-name">BLR</span> <br> <span class="date">26th Dec 2018 </span></p>
      </div>
      <div class="col-auto details">
        <p>
          <span class="price">₹30,672</span><br>
          <span class="d-btn">Details</span>
        </p>
      </div>
      <div class="col-auto total-price">
        <p class="price">All Total <br> <span>₹30,672</span></p>
        <button class="btn btn-primary">Book your flight</button>
      </div>
    </div>
  </div>
</div>
