<div class="policy-container mt-76">
  <div class="container-fluid header-image-slide p-0 head-img-container">
    <img class="w-100" src="assets/images/policy/banner-bg.png" />
    <div class="text-container">
      <h4 class="fs-42">Policies for a People’s Platform </h4>
    </div>
  </div>

  <!-- Sticky Menu -->
  <app-sticky-menu></app-sticky-menu>
  
  <!-- Policy Container -->
  <div class="container-fluid position-relative pb-60">
    <div class="container policy-section">
      <h6>Privacy policy <!-- <span> Last updated on 27th November, 2018</span> --> </h6>
      <p>Orastays is a community-based platform, supporting community trust, faith tolerance and security. We are moving towards a stronger and freer society and therefore it becomes important to respect each individual while abiding by the laws that govern and hold the society together in each region. Consequently, to maintain transparency and security, Orastay’s Privacy Policy protects all content and information provided to us by users. It could be personal information or payment related information. We want to assure you that each member in Orastays is safe and secure with us. Read our Privacy Policy to understand us better. </p>
      <p>From henceforth for a better understanding ‘us’ and ‘we’ would refer to Orastays and ‘you’ and ‘your’ would refer to the guest and host.</p>
  
      <h5>INFORMATION ABOUT YOU</h5>
      <p><strong>Information We Get from You</strong></p>
      <p class="m-0">Orastays collects personal information about you.  It is necessary to form a contract for smooth functioning of the site keeping in view the legal obligations. This is important as it would help us take care of your requested services and make your experience with Orastays a pleasant one.</p>
      <p><span style="font-weight: bold">Account Details:</span> When signing in to Orastays you need to provide a complete account information that would include your first name, last name, email address and date of birth.</p>
      <p><span style="font-weight: bold">Property listing and profile:</span> This will include features like (booking or creating a listing of the property), the additional information would include address, phone number and profile picture.</p>
      <p><span style="font-weight: bold">Identity verification:</span> To create a trusted environment, it is important to have an identity verification. It could include images of a government issued ID, Passport, national ID Card or driving license as applicable by the laws of a country or region. Any other form of authentication that complies with government approval will be accepted.</p>
      <p><span style="font-weight: bold">Payment Information:</span> Orastays will need certain financial information from you (like credit/debit card information or bank account number) This would be taken to facilitate the payment process via Orastays.</p>
      <p><span style="font-weight: bold">Communication with Orastays and members:</span> The emails communication exchanges with Orastays or guests with host are collected by us.</p>
      
      <h5>INFORMATION YOU WISH TO GIVE US</h5>
      <p class="m-0"><strong>Additional Profile Information</strong></p>
      <p>There is a lot of additional personal information that you could provide, and we will only publish the same with your consent. </p>
      
      <p class="m-0"> <strong>Address Book Contact Information</strong> </p>
      <p>The profile information you would like to share: Additional information like gender, preferred language(s), a personal description and the place to which you belong are some information that could be a part of your public profile page and can be viewed by all publicly.</p>
      
      <p class="m-0"><strong>Other Information</strong> </p>
      <p>There will be additional information when you fill a form, conduct a search, update or add information to your Orastays account, post on the community form, participate in promotions, respond to surveys and use other features available in the Orastays community network.</p>
      

      <h5>INFORMATION THAT IS NECESSARY FOR THE USE OF THE PAYMENT SERVICES </h5>
      <p class="m-0"><strong>Payment Information</strong></p>
      <p>Information needs to be collected for the Payment data Controller to check money laundering. This is imperative for keeping your payment service smooth.</p>
      <p>When the payment service is used the payment Data Controller requires certain information (like bank account and credit card details) for processing payment with compliance to the applicable law.</p>
      
      <p class="m-0"><strong>Identity Verification and Other Information</strong></p>
      <p>The Payment Data Controller will need an identity verification if you are the host. These could be government issued ID, passport, national ID card, or driving license and other authentication information like date of birth, your address, email address, phone number etc. in order to verify your identity that agree with the government payment services.</p>
      
      <p class="m-0"><strong>Information That Gets Automatically Collected From The Orastays Platform or Payment Services</strong></p>
      <P>Some information is automatically collected in the Orastays Platform. This information is automatically received from the payment services. It is collected and included within personal information. This information is adequate for the performance of the service that is required by you from us. We comply by the legal obligations and standby the legitimate interest to improve our service functionality by making your payment experience hassle free and secure. </P>
      
      <p class="m-0"><strong>Geolocator Information</strong></p>
      <p>We try to locate you through your mobile device locator and determine your approximate position. This is done through the IP address or mobile device's GPS to enhance your user experience. However most mobile devices allow you to disable the use of the location service app. But Orastays collects information even when the app in not enabled through your settings device permission.</p>
      
      <p class="m-0"><strong>Usage Information</strong></p>
      <p>Information is also collected on the content you view and the pages you have visited, the searches listing the bookings you have made and the actions you have taken on the Orastays platform. All these help us form an idea about your likes and dislikes.</p>
      
      <p class="m-0"><strong>Log Data and Device Information</strong></p>
      <p>You Log Data and Device Data are automatically collected when you access the Orastays platform without an account with us. We know details about time, hardware and software information, the device information, device event information, unique identifiers, crash data. cookie data and all the pages you viewed before and after you were in the Orastays website. </p>
      
      <p class="m-0"><strong>Cookies and Similar Technologies</strong></p>
      <p>Use of technologies like web beacons, pixels, mobile identifiers and tracking URLs help us to understand the user behavior. There are various reasons for this. We want you to have smooth access to the Orastays platform and our Payment services. Not just some specific services but our entire product should be a pleasant experience. We want to make you aware of the deals that will interest you as an individual user, to create interesting content that agree with your choice, to enforce the legal agreement that govern the Orastays platform, detection of frauds, prevention and investigation, analysis, research, product development and regulatory compliance that will enhance your experience with Orastays.</p>
      <p>The business partners of Orastays can also use tracking technologies or use third parties to track your behavior on our behalf.</p>
      <p>Most browsers agree to accept cookies, however, there is an option to modify. If you choose to decline cookies you may not get all the facilities of Orastays as intended. Some may not work at all.</p>
      
      <p class="m-0"><strong>Payment Transaction Information</strong></p>
      <p>Orastays collects information related to payment transaction. The information automatically collected include payment instrument used, date and time, payment amount, payment instrument expiration date and billing postcode, PayPal email address, IFSC and IBAN information, your address and other related transaction details. This information is necessary for the adequate performance of the contract between you and Orastays Payments and to allow the provision of the Payment Services.</p>
      
      <p class="m-0"><strong>Information We Collect from Third Parties</strong></p>
      <p>Orastays may collect information through other sources and this could include personal information about you. We do not control, supervise and respond to how the third-parties providing your information process your data. Therefore, any information regarding the disclosure of your personal details should be directly discussed with the third-parties. </p>
      
      <h5>Who are these Third-Party Services?</h5>
      <p>If your login to Orastays is through Facebook, Google, WeChat etc., these third-party services may send information like registration and profile information from that service. This information is then controlled by the third-party service holder. This is a privacy setting as authorized by you in the privacy policy of that service.</p>
      

      <h5>Your References</h5>
      <p class="m-0">If someone has written a reference for you, we will publish it in your Orastays profile page with your consent. </p>
      
      <p class="m-0"><strong>Background Check</strong></p>
      <p>Orastays performs a background check with the government IDs that you submit at the time of registration.</p>
      <p>Other Sources: We check in compliance with the existing law some additional information like demographic data or fraud detection information from third party service providers and compare and combine the information with ours.</p>
      
      <h5>What Is Done with The Collected Information </h5>
      <p>The information collected is stored and analyzed to understand you better. We strive to give you the best experience in Orastays. This helps in making Orastays a more developed platform. We give great importance to trust and safety and this practice helps us to maintain the degree of security in compliance with all legal obligations.  </p>
      <p>Enhancement of the Orastays platform with better development and user experience</p>
      <p>Continuous and uninterrupted use of the Orastays Platform</p>
      <p>Continuous and uninterrupted use of the Orastays Platform</p>
      <p>To provide the best security and optimize the experience in Orastays with extensive analysis and research </p>
      <p>Send support and service messages, updates, security alerts and account notifications</p>

      <p><strong>When you send us your contact information, we facilitate in:</strong></p>
      <ul>
        <li>Referral invitation</li>
        <li>Send request for references</li>
        <li>Detect fraud and take preventions</li>
        <li>Orastays works towards Improvement and Development</li>
      </ul>
      <p>We help to streamline your search with customized experience (like listing suggestions by ranking them). We also conduct profiling based on your booking history, your preference and profile information, along with all the content that you have submitted in Orastays.  </p>
      <p>All information is collected with a legitimate interest of improving your experience with Orastays and where it is necessary for the adequate performance of the contract with you. </p>

      <h5>Creating A Trusted and Safer Environment</h5>
      <p>Detect fraud, spam, abuse or any kind of security or harmful issue. </p>
      <p><strong>Whenever such incidents come to our notice, we take immediate action and for better safekeeping of the site we conduct security investigations and risk management which involve:</strong></p>
      <ul>
        <li>Verification of information provided by you (Photo ID and accommodation details)</li>
        <li>Checking against database and other information that adhere to the governing law </li>
        <li>Resolving disputes with other members and enforce our agreement on third-parties</li>
      </ul>
      <p>We may conduct profiling based on the mentioned activities. These will be done on the communication and interaction that you have with the Orastays, your profile information and other content that you had submitted to Orastays. The information that we obtain from Third-Parties will also be included. In exceptional cases, the automated process of some members who could pose a threat to the Orastays platform may be restricted or suspended from the safety of the Orastays Platform, members and third-party </p>
      <p>The information is processed to protect the Orastays Platform with legitimate interest to measure the adequate performance of our contract and comply with the applicable laws</p>

      <h5>Personalizing, Measuring, Improving Our Advertising Market </h5>
      <p>Your interest will help us understand you better. We will send promotional messages, marketing and advertising based on your preference. We gather this information from our own Orastays campaign, services, and social media advertisements on platforms like Facebook, G+, twitter etc. </p>
      <p>Conduct a series of referral programs, rewards, surveys, sweepstakes, contests, or other promotional activities or events sponsored or managed by Orastays or Partners</p>
      <p>All the personal information is used for the listed reasons legitimately in the interest to understand your choices through marketing and publicity. You can unsubscribe this service by changing your notification setting. </p>

      <h5>How does the Payment Data Collector Use the Information?</h5>
      <p>It enables you to use the payment service </p>
      <p>Detects frauds, security or harmful issues </p>
      <p>Conducts security investigations and risk assessments</p>
      <p>Conducts checks against databases and other information sources</p>
      <p>Conducts checks against databases and other information sources</p>
      <p>Enforce the Payment Terms and other payment policies</p>
      <p>With your consent, send you promotional messages, marketing, advertising, and other information that may be of interest to you based on your preferences</p>
      <p>With your consent, send you promotional messages, marketing, advertising, and other information that may be of interest to you based on your preferences</p>

      <h5>SHARING & DISCLOSURE</h5>
      <p class="m-0"><strong>It is Always with Your Consent</strong></p>
      <p>Only when you have provided your consent, we share your information, including personal information. When you authorize a third- party application on the Orastays website do they access your Orastays account and participate in promotional activities conducted by Orastays or third-parties.</p>

      <p class="m-0"><strong>Sharing Within Members </strong></p>
      <p>To make the booking process smooth and even other interactions between members more conclusive it becomes important to share personal information with members. This is necessary for the adequate performance of the Orastays service</p>
      <p> When you submit your booking request as a guest, we must share information like your full name, the full name of any additional Guests, your cancellation history, and other information you agree to share. When your booking is confirmed, we will disclose additional information to assist with coordinating the trip, like your phone number with the host</p>
      <p>Similarly, as a host we must share information like your full name, phone number, and accommodation address after you confirm the booking</p>

      <p class="m-0"><strong>Public Information Like Profile, Listing etc. </strong></p>   
      <p>The Orastays platform allows you to post personal information that will be visible to others, such as: </p>   
      <p>Your public profile containing your name, description, city  </p>
      <p>Listing information like The Accommodation, it's approximate and exact location, listing description, calendar availability, your profile photo, aggregated demand information (like the page views over a time) or any other information that you wish to share </p>
      <p>After completing the booking, we display the reviews that the guest and host leave for each other </p>
      <p>If you participate in any community forum or comment on a blog, we will publish and display your opinion </p>
      <p>To promote Orastays we will display certain content like the listing page on sites operated by Orastays' business partners using technologies like widgets or APIs. If your listing can be viewed on the partner site, then information on your public profile will also be available there </p>
      <p>Information you share publicly on the Orastays Platform may be indexed through third-party search engines. In some cases, you may opt-out of this feature in your Account settings. If you change the settings or your public-facing content, these search engines may not update their databases. We do not control the practices of third-party search engines, and they may use caches containing your outdated information</p>

      <p class="m-0"><strong>Supplementary Services by Hosts</strong></p>
      <p>The host may require our help in the management of his accommodation in additional services like cleaning, cooking, laundry, lock providers etc. When sharing the Orastays platform the host will share information like the check-in and checkout dates, guest name, guest phone number and a third-party number, who would be managing your stay at the Orastays host Accommodation. </p>

      <p class="m-0"><strong>Compliance with law and responding and respecting legal requests, safety of all members </strong></p>
      <p>If Orastays needs to disclose any personal information to a government legal authority or authorized third-party(s) we will, to the extent it is required and necessary.  </p>
      <p>It is the duty of Orastays to comply with legal obligations</p>
      <p>Respond to the claims against Orastays </p>
      <p>Respond to verified requests related to criminal investigations or any claimed illegal activity that exposes us or any other user to a legal liability</p>
      <p>Enforce members to follow the Terms of Agreement related to service, payment or any other agreement </p>
      <p>Protect the rights, property and personal safety in Orastays, its employees, its members</p>

      <p class="m-0"><strong>Service Providers</strong></p>
      <p>We will have Third-Party Service Providers helping us to verify your identity or authenticate identification documents, check information against public databases, conduct background or police checks, fraud prevention, and risk assessment, perform product development, maintenance and debugging, allow the provision of the Orastay services through third-party platforms and software tools (e.g. through the integration with our APIs), or provide customer service, advertising, or payments services. These providers may be located inside or outside India. Orastays will need to share your personal information with them to ensure adequate work is carried out to meet the best performance and standards of Orastays.</p>

      <p class="m-0"><strong>Social Media Platforms</strong></p>
      <p>In Social media platforms we may hashtag your personal information like email address to generate leads to our website, or for promotional purposes that may match with your interest. </p>
      <p>The social media platform that you use may not be controlled by Orastays. Then all questions regarding how your social media provider knows your personal details should be directed to such a   provider. </p>
      <p><strong>Note:</strong> You can at any point question Orastays for sharing any such marketing promotions by sending an email to opt-out@orastays.com</p>

      <p class="m-0"><strong>Collection and Remittance of Occupancy Taxes </strong></p>
      <p>Orastays will remit the entire portion of the GST collected from the guest directly to the tax authorities for hosts whose annual turnover is at or below the GST registration thresholds of INR 20 lakhs or INR 10 lakhs. Hosts whose annual turnover is above the INR 20/10 lakhs thresholds mentioned above are required to remit the entire amount of the GST collected from the guest to the tax authorities. For detailed information, please visit The Government of India website on tax payment.</p>
      
      <p class="m-0"><strong>Government Registration</strong></p>
      <p>In jurisdictions where Orastays facilitates or requires a registration, notification, permit, or license application of a host with a local governmental authority through the Orastays Platform in accordance with law, we may share information of participating hosts with the relevant authority, both during the application process and, if applicable, periodically thereafter, such as the Host’s full name and contact details, Accommodation address, tax identification number, Listing details, and number of nights booked.</p>

      <p class="m-0"><strong>Host information provided for Orastays corporate customers</strong></p>
      <p>If the listed property is being booked by a company for its business purpose by a guest affiliated with the company or the organization, then the information related to booking, name of the host, the accommodation address, pricing details, listing details and other related information may be disclosed to the extent deemed necessary for the adequate performance of the service. At the request of the guest, information may be shared with travel management, travel planning, financial reporting, personnel management, crisis management, or other services who may benefit from the given information. </p>

      <p class="m-0"><strong>Business Transfer</strong></p>
      <p>If Orastays is involved in any merger, acquisition, reorganization, sale of its assets, bankruptcy insolvency, there may happen that we will have to sell or transfer our shares or some or all our assets, including your information in connection with such transaction or in contemplation of such transaction (e.g. due diligence). In such an event we will inform you about the transfer of your personal information and will undergo a different privacy policy. </p>

      <p class="m-0"><strong>Aggregate Data</strong></p>
      <p>We may share aggregate information, (the information that reflects the opinion of an audience taken together and not an individual) and other anonymized information for regulatory compliance, industry and market analysis, demographic profiling, marketing and advertising and other business achievements.</p>

      <h5>OTHER IMPORTANT INFORMATION</h5>
      <p class="m-0"><strong>Analyzing your Communications</strong></p>
      <p>There may be occasions when we will scan, analyze your communications on the Orastays Platform. This will be done for fraud prevention, risk assessment, regulatory compliance, investigation, product development research and customer support. In some cases, these analyses may be conducted to debug, improve and expand our product offerings. These analyses mostly follow an automated method but, in some cases, which deal with fraud investigation or customer support we must review communications to access and improve the functionality of the automated tools. We will not read your communications with third-parties or sell analysis and reviews of such communications. </p>

      <p class="m-0"><strong>Linking Third Party Accounts</strong></p>
      <p>All these activities are based on Orastays legitimate interest showing compliance with the laws that prevent fraud, promote safety and improve and ensure adequate service. </p>
      <p>Linking Third Party Account</p>
      <p>You may link your Orastays account with social networking services. </p>
      <p>Some of the information that you provide by linking your Orastays account with your Social Media account will be published in your Orastay Profile</p>
      <p>Your activities with Orastays may be published on the Social Media sites, on the Orastays Platform or other third-party sites. </p>
      <p>A link of your public profile displayed on third-party site will appear on your Orastays profile. </p>
      <p>Other Orastays users can see common friends you have with them or friends of friends widening the network. </p>
      <p>Other Orastays friends may be able to connect to school, hometown or other groups of interest that link them to the same social media network</p>
      <p>The information that you share with us will be stored and may be used in case of fraud or risk prevention. However, without your authority in setting selection we will not be able to have access on information. </p>

      <p class="m-0"><strong>Google Maps/ Earth</strong></p>
      <p>Parts of the Orastays Platform use Google Maps/Earth services, including the Google Maps API(s). Use of Google Maps/Earth is subject to Google Maps/Earth Additional Terms of Use and the Google Privacy Policy.</p>

      <h5>YOUR RIGHTS</h5>
      <p>The information that you have provided to Orastays regarding Data Control or Payment data controller, you can send us your opinion on it by emailing to dpo@orastays.com. We may ask you to verify your identity before taking any action.</p>

      <p class="m-0"><strong>Managing Information</strong></p>
      <p>You can access and update through the account setting. if you have connected your Orastays account with third-parties like Facebook, Google, you can change settings and remove permission for the app by changing your account settings. You can also keep your personal information updated. </p>
      
      <p class="m-0"><strong>Rectification of inaccurate information</strong></p>
      <p>You can write to us asking us to remove, correct and reload incorrect information about you or your listing in Orastays</p>

      <p class="m-0"><strong>Data Retention and Erasure</strong></p>
      <p>The reason why Orastays retains personal data is for performance and the contract that has been established between us and you and to adhere to legal obligations.</p>
      <p>However, if at any time you feel that you do not wish to continue with the Orastays account and wish to close it, you can request for erasure of your personal information:</p>
      <p>We may retain your personal information, as it is necessary for our legitimate business interest such as fraud or other issues with security and abuse. This information can help us prevent a member engaged in such activity from opening another account in Orastays.</p>
      <p>We may keep your account information for tax, legal reporting and auditing obligations.</p>
      <p>The retention of your personal account information will continue to show the reviews you gave or received on the Orastay platform even after your account no longer exists. Attributions to such information will no longer be available. Some log information disassociated from personal information may continue to be in our database.</p>
      <p>We will however retain the information for a limited period till we deem necessary. </p>

      <h5>Withdrawing Consent and Restriction of Processing</h5>
      <p>Orastays gives you the right to withdraw you consent towards processing of your personal information at any time</p>
      <p>You can do so by changing your account setting and at the same time sending an Email to Orastays, specifying which consent you are withdrawing</p>
      <p>Withdrawing of your consent does not affect the lawfulness of any processing activity which was based on such a consent before its withdrawal</p>
      <p>We stand by the laws of every governing region or country and strictly abide by the privacy policy of the country where Orastays functions</p>
      <p>Applicable laws may limit the ways in which we use your personal information</p>
      <p>You can contest the accuracy of your personal information, if the processing is unlawful</p>
      <p>You can oppose the erasure of your personal information, we no longer need your personal information for processing, but you may require the information for the establishment, exercise or defense of legal claims</p>

      <p class="m-0"><strong>Lodging Complaints</strong></p>
      <p>You can file your complaints about the data processing activities carried out by Orastays before our competent data processing authorities. We will try to resolve your problems to your satisfaction. </p>

      <h5>SECURITY</h5>
      <p>Orastays continuously endeavors to update administrative, technical, and physical security measures to ensure that users get the safest experience from this interactive platform. We strictly monitor, prohibit and strictly act against any unauthorized access, loss, destruction, or alteration. We advise all our users to safeguards and protect your information with firewalls and data encryption, and information access controls. If you suspect that any of the Orastays credentials have been lost, stolen, misappropriated, or otherwise compromised or in case of any actual or suspected unauthorized use of your Orastays Account, please contact us following the instructions in the Contact Us section.</p>

      <h5>CHANGES TO THIS PRIVACY POLICY</h5>
      <p>Orastays may amend, modify or completely change its privacy policy at any time. However, when it makes the changes to its Privacy Policy, we will post the changes in the Orastays Platform and update by replacing the previously updated information. Orastays will send emails much ahead of implementing the change, to all its subscribers. If the Policy change does not agree with you, you may cancel your account. However, if you consent to the change you will continue to be with Orastays even after the revised policy becomes effective.</p>
      
      <h5>CONTACT US</h5>
      <p>If you have any questions regarding the Privacy Policy, you can send us your enquiries at support@orastays.com</p>
      <!-- <p cl>Curabitur faucibus erat enim, laoreet condimentum ligula consequat eget. Suspendisse ut fringilla ipsum, blandit tincidunt arcu. Nulla aliquet venenatis sem, vel dapibus justo porta quis. Pellentesque ac felis turpis. Nam commodo sem turpis, nec maximus turpis rutrum ac.</p>
      <ul>
        <li>Suspendisse mattis non nunc at vehicula. Donec mattis leo eu nibh fermentum gravida. Nunc quis sollicitudin augue. Praesent suscipit lobortis metus at dictum.</li>
        <li>Vivamus arcu ex, eleifend non finibus eu, pretium sit amet neque. Nunc sed mi mi. Integer blandit luctus orci, sed sollicitudin quam mattis mollis. Fusce semper varius rutrum.</li>
      </ul>
      <a href="" class="read-more-btn">Read on [+]</a> -->
    </div>
  </div>

</div>
