<div class="list-flight" *ngIf="flightList.length > 0">
  <div class="mb-4 position-relative" *ngFor="let flightRow of flightList; let i = index;">
    <div class="row row-eq-height flight-card first">
      <span class="sl-no">{{i +1 }}</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/{{flightRow.OD[0].FS[0].vc}}.png" alt="">
              <span class="f-name">{{getAirlineName(flightRow.OD[0].FS[0].vc)}} - {{flightRow.OD[0].FS[0].vc}} - {{flightRow.OD[0].FS[0].fl}}</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">Non stop</span>
                <span class="badge badge-outline">{{flightRow.OD[0].tdu}} hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">{{flightRow.OD[0].FS[0].dd}}</span>
            <span class="flight-type direct-flight"></span>
            <span class="arrvl-time">{{flightRow.OD[0].FS[0].ad}}</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" [value]='flightRow' type="radio" name="departFlights" [(ngModel)]="departFlightSelected" (change)="handleDepartFlightChange($event)">
        <div class="book-panel" for="flight1">
          <h4 class="class">{{flightRow.OD[0].classtype}}</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> {{getFare(flightRow.ID) | number:'.0'}}</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="mb-4 position-relative">
    <div class="row row-eq-height flight-card">
      <span class="sl-no">02</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/fl-2.png" alt="">
              <span class="f-name">Lufthansa - LN-762</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">0  stop</span>
                <span class="badge badge-outline">01:45 hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">14:30 PM</span>
            <span class="flight-type direct-flight"></span>
            <span class="arrvl-time">07:00 PM</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
        <div class="book-panel" for="flight1">
          <h4 class="class">Business class</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> 34,581</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 position-relative">
    <div class="row row-eq-height flight-card">
      <span class="sl-no">03</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/fl-3.png" alt="">
              <span class="f-name">Lufthansa - LN-762</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">0  stop</span>
                <span class="badge badge-outline">01:45 hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">14:30 PM</span>
            <span class="flight-type direct-flight"></span>
            <span class="arrvl-time">07:00 PM</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
        <div class="book-panel" for="flight1">
          <h4 class="class">Business class</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> 34,581</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 position-relative">
    <div class="row row-eq-height flight-card">
      <span class="sl-no">04</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/fl-4.png" alt="">
              <span class="f-name">Lufthansa - LN-762</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">0  stop</span>
                <span class="badge badge-outline">01:45 hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">14:30 PM</span>
            <span class="flight-type one-stop"></span>
            <span class="arrvl-time">07:00 PM</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
        <div class="book-panel" for="flight1">
          <h4 class="class">Business class</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> 34,581</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 position-relative">
    <div class="row row-eq-height flight-card">
      <span class="sl-no">05</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/fl-5.png" alt="">
              <span class="f-name">Lufthansa - LN-762</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">0  stop</span>
                <span class="badge badge-outline">01:45 hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">14:30 PM</span>
            <span class="flight-type one-stop"></span>
            <span class="arrvl-time">07:00 PM</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
        <div class="book-panel" for="flight1">
          <h4 class="class">Business class</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> 34,581</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 position-relative">
    <div class="row row-eq-height flight-card">
      <span class="sl-no">06</span>
      <div class="col-sm-8 left-panel">
        <div class="c-header">
          <div class="row">
            <div class="col-4 f-logo text-left">
              <img src="assets/images/flight/fl-4.png" alt="">
              <span class="f-name">Lufthansa - LN-762</span>
            </div>
            <div class="col-4 text-center">
                <span class="badge badge-gray">0  stop</span>
                <span class="badge badge-outline">01:45 hrs.</span>
            </div>
            <div class="col-4 text-right">
              <button class="btn-details" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">Flight details</button>
            </div>
          </div>
        </div>
        <div class="c-body">
          <p class="f-timing">
            <span class="dept-time">14:30 PM</span>
            <span class="flight-type one-stop"></span>
            <span class="arrvl-time">07:00 PM</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4 right-panel">
        <input class="input-hidden" id="flight1" name="bookFlight" type="radio">
        <div class="book-panel" for="flight1">
          <h4 class="class">Business class</h4>
          <span class="p-from">From</span>
          <span class="price"><i class="fa fa-inr" aria-hidden="true"></i> 34,581</span>
          <span class="radio-btn"></span>
        </div>
      </div>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>