<div class="policy-container mt-76">
    <div class="container-fluid header-image-slide p-0">
      <img class="w-100" src="assets/images/policy/banner-bg.png" />
    </div>

    <div class="container-fluid secondary-menu">
      <div class="container ">
        <nav class="navbar navbar-expand-md navbar-dark">
          <div ngbDropdown>
            <button class="btn" ngbDropdownToggle>Privacy Policy</button>
          </div>
          <div ngbDropdown>
            <button class="btn" ngbDropdownToggle>Cancellation Policy</button>
          </div>
        </nav>
      </div>
    </div>

    <!-- Policy Container -->
    <div class="container-fluid position-relative pb-60">
      <div class="container policy-section">
        <h6>Cancellation policy <span> Last updated on 27th November, 2018</span></h6>
        <p>Thank you for using Orastays!</p>
        <p>This Cancellation Policy describes how we collect, use, process, and disclose your information, including personal information, in conjunction with your access to and use of the Orastays Platform and the Payment Services.</p>
        <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis lorem pellentesque turpis facilisis pellentesque. Sed sagittis purus ac leo suscipit faucibus. Mauris congue sapien et ante sodales mattis. Aliquam mollis eros eget sem sagittis, non porttitor massa pretium. Praesent mauris mauris, tristique ut efficitur vel, dictum blandit sapien. Curabitur vitae nunc eu augue fringilla volutpat in nec justo. Sed mi ante, faucibus sed fermentum vel, egestas at ipsum. Duis at sodales diam. Donec sed mauris imperdiet, lobortis enim id, ultricies sem.</p>

        <h5>Information about ORA</h5>
        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in massa id neque condimentum dictum vitae vel ipsum. In sed tristique magna, nec fringilla diam. Integer ut malesuada tortor. Ut rhoncus, nisl sed sagittis gravida, nisl justo tempor metus, id interdum lectus diam id ex. Morbi cursus rhoncus justo id lobortis. Vestibulum consequat efficitur pretium. Vivamus mattis ipsum nunc, nec maximus augue commodo sit amet ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Scope of our privacy notice</h5>
        <p class="m-0">Proin auctor elit aliquam, pulvinar orci sit amet, accumsan ipsum. Quisque orci nisl, volutpat vel pellentesque sit amet, eleifend et quam. Phasellus nec ligula ipsum. Donec aliquam erat orci, ut mollis justo suscipit vitae. Etiam sollicitudin sapien elit, eget consequat velit consectetur a. Etiam tempus rutrum ex dictum bibendum. Fusce condimentum, tortor id elementum gravida, magna eros feugiat nunc, sed eleifend ex turpis ac lorem. Etiam euismod nunc ut nisi posuere, in scelerisque mauris commodo. Donec vel risus tortor. Nulla vel bibendum neque. Sed lobortis, turpis quis bibendum luctus, mi nisi vehicula sem, nec tincidunt tortor sem at lectus. Sed ut magna in justo tristique egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla gravida ligula a laoreet mattis ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Ways in which we obtain personal information</h5>
        <p class="m-0">Nunc congue dolor nec mi ullamcorper vulputate. Nullam auctor dolor justo, non hendrerit ex porttitor vel. Nunc nec tincidunt lorem, vel lacinia lorem. Donec imperdiet placerat urna sit amet aliquam. Vestibulum in convallis tortor, nec scelerisque est. Sed est odio, fermentum vel turpis nec, efficitur dictum justo. Aenean et rhoncus tortor. Etiam tristique volutpat diam ac ultrices. Curabitur mattis ullamcorper neque, eu pretium elit elementum id ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Categories of personal information</h5>
        <p cl>Curabitur faucibus erat enim, laoreet condimentum ligula consequat eget. Suspendisse ut fringilla ipsum, blandit tincidunt arcu. Nulla aliquet venenatis sem, vel dapibus justo porta quis. Pellentesque ac felis turpis. Nam commodo sem turpis, nec maximus turpis rutrum ac.</p>
        <ul>
          <li>Suspendisse mattis non nunc at vehicula. Donec mattis leo eu nibh fermentum gravida. Nunc quis sollicitudin augue. Praesent suscipit lobortis metus at dictum.</li>
          <li>Vivamus arcu ex, eleifend non finibus eu, pretium sit amet neque. Nunc sed mi mi. Integer blandit luctus orci, sed sollicitudin quam mattis mollis. Fusce semper varius rutrum.</li>
        </ul>
        <a href="" class="read-more-btn">Read on [+]</a>
      </div>
    </div>

  </div>
  