.secondary-menu{
    position: sticky;
    top: 75px;
    z-index: 1111;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    overflow: visible;
    .navbar{
        .btn.dropdown-toggle{
            background: #fff;
            padding: 10px 29px;
            font-family: latobold;
            font-size: 16px;
            color: #231f20;
            &::after{
                border: none;
            }
        }
        .show.dropdown{
            position: initial;
            .btn.dropdown-toggle{
                color: #f47921;
            }
        }
        .nav-items{
            .dropdown-item{
                display: inline-block;
                width: 50%;
                padding: 0.50rem 1.5rem;
                clear: both;
                font-weight: normal;
                color: #212529;
                text-align: inherit;
                white-space: nowrap;
                background-color: transparent;
                border: 0;
                font-family: latobold;
                font-size: 14px;
                text-transform: uppercase;
                &:hover{
                    color: #f47921;
                }
            }
        }
        .dropdown-menu.show {
            display: block;
            width: auto;
            margin-top: 16px;
            .img-block{
                img{
                    height: 160px;
                    padding: 10px 0;
                }
            }
        }
    }
}