<div class="dashboard-body">
    <div class="sidebar">
      <nav class="sidebar-nav ps ps--active-y">
        <div class="profile-info">
          <div class="btn-group mr-3">
            <img class="user-img" src="assets/images/dashboard/prop_host.png" alt="">
            <button class="btn btn-edit" type="button"><i class="pencil-icon"></i></button>
          </div>
          <label class="username">Saiyed Hussain</label>
        </div>
        <ul class="nav">
          <li class="nav-item">
              <a class="nav-link active" routerLink="/property-dashboard">
                <i class="nav-icon"></i> Properties
                <span class="badge badge-info">04</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon"></i> Revenue
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon"></i> Calendar
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon"></i> Inventory
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon"></i> Analytics
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link">
                <i class="nav-icon"></i> Contact ORA
              </a>
          </li>
  
          <!-- User Dashboard -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-dashboard">
              <i class="nav-icon"></i> My bookings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-cancellations">
              <i class="nav-icon"></i> View cancellations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-my-support">
              <i class="nav-icon"></i> My support
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="container-fluid">
        <div class="main-section">
          <div class="header">
            <h3 class="float-left m-0">My support</h3>
            <div class="clearfix"></div>
          </div>
          <div class="row p-10">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5>Web form details</h5>
                </div>
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Booking refference</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Contact number</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-3">
                      <div class="form-group">
                        <select name="" class="form-control">
                          <option value="">Refund</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <label class="mr-3 c-pointer">
                        <input checked="" class="option-input radio" name="hotelType" type="radio"> Flights 
                      </label>
                      <label class="mr-3 c-pointer">
                        <input checked="" class="option-input radio" name="hotelType" type="radio"> Homestays 
                      </label>
                      <label class="mr-3 c-pointer">
                        <input checked="" class="option-input radio" name="hotelType" type="radio"> Guest house 
                      </label>
                      <label class="mr-3 c-pointer">
                        <input checked="" class="option-input radio" name="hotelType" type="radio"> Paying guest 
                      </label>
                      <label class="mr-3 c-pointer">
                        <input checked="" class="option-input radio" name="hotelType" type="radio"> Hotels 
                      </label>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea name="" class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Edit Profile Popup -->
    <ng-template #editProfileModal let-modal>
      <div class="modal-container">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-basic-title">Edit/Add profile</h4>
        <div class="profile-img">
          <img src="assets/images/dashboard/prop_host.png" alt="">
          <div class="file btn">
            <span class="cam-img"></span>
            <input type="file" name="file"/>
          </div>
        </div>
        <form class="form-component">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <select name="" class="form-control">
                  <option value="">Mr.</option>
                  <option value="">Mrs.</option>
                </select>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name" value="Saiyed Husain">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" value="+91 80014578954" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Alternative Number">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" value="host@gmail.com" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Alternative Email Id">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Date of birth</label>
                <input type="text" class="form-control" placeholder="6th Aug 1980">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="">Language</label>
                <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Language'" [data]="languageList" [(ngModel)]="LanguageSelectedItems" [settings]="dropdownSettings" name="language"></ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <h5>Additional informations</h5>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Profession</label>
                <input type="text" class="form-control" placeholder="Enter your profession">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Interests</label>
                <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Interest'" [data]="interestList" [(ngModel)]="interestSelectedItems" [settings]="dropdownSettings" name="interest"></ng-multiselect-dropdown>
                <!-- <input type="text" class="form-control" value="Travelling, Playing guiter, Listening musics, Gurdaning" placeholder="Select Interest"> -->
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Biography</label>
                <textarea name="" class="form-control h100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </textarea>
              </div>
            </div>
          </div>
        </form>
        <button type="button" class="btn btn-primary float-right" (click)="modal.close('Save click')">Submit</button>
      </div>
    </ng-template>
  
    <!-- Contact ORA Popup -->
    <ng-template #contactOraModal let-modal>
      <div class="modal-container">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title mb-25">Contact ORA</h4>
        <form class="form-component">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your name" value="Mr. Saiyed Husain">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" value="+91 80014578954">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" value="host@gmail.com">
              </div>
            </div>
          </div>
          <h5>Purpose</h5>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <select name="" class="form-control">
                  <option value="">Others</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" class="form-control h100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </textarea>
              </div>
            </div>
          </div>
        </form>
        <button type="button" class="btn btn-primary float-right" (click)="modal.close('Save click')">Submit</button>
      </div>
    </ng-template>
  
  </div>
    