<h6 class="social-share-heading">Share properties with your friends</h6>
<share-buttons [theme]="'material-dark'"
  [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','messenger','whatsapp']"
  [show]="9" 
  [size]="2"
  [url]="'http://orastays.com/properties/property-details'"
  [title]="'Great Experiences Grow with Sharing'"
  [description]="'Share your standardized homestay story here'"
  [image]="shareObj['property'].coverImageURL"
  [tags]="'#orastays #homestay'"
></share-buttons>
<!-- {{shareObj['property'].coverImageURL}} -->