<div class="team-container mt-76">
  <div class="container-fluid header-image-slide p-0">
    <img class="w-100" src="assets/images/team/team_banner.png" />
  </div>

  <!-- Sticky Menu -->
  <app-sticky-menu></app-sticky-menu>

  <div class="container-fluid position-relative pt-60 pb-60">
    <div class="container behind-screen-section">
      <h3 class="mb-30">Behind the screen</h3>
      <div class="row">
        <div class="col-md-6 pl-0 pr-0">
          <img class="w-100" src="assets/images/team/team_saransh.png" alt="">
        </div>
        <div class="col-md-6 first-block">
          <h5 class="tname">Mr. Saransh Kumar</h5>
          <p class="tdesig">CEO & Founder (Orastays)</p>
          <p class="tdesc">To road to success isn’t easy to navigate. There are obstacles to cross and challenges to overcome on the journey to achieving your dream. The course, dotted by mountains are hard to climb, swift rivers sway you, and deserts leave you thirsting for more. It is indeed a strong will that keeps you from quitting. I began my journey as Sinha’s Home Pvt Ltd., at the early age of …. with my partner.  Without depending on my salaried income, I started my own long-term paying guest and guest-house accommodations. It wasn’t easy. Taking small steps and maximising my budget, I believed that I could provide home to a community that was new to my city and needed a safe place to stay. Where single women working or studying, found it difficult to live alone without hostel accommodations.
          <p class="tdesc">I started my first home sharing with 8 women in 2013. This journey of trust, respect and empathy took me a long way where I learnt early that your intention in life should not be just to earn money but earn the satisfaction of returning it to the community of which you are a part. With this belief, I expanded in Bangalore and Hyderabad. Small victories made me happy and setbacks brought me down, but never enough to give up.</p>
          <p class="tdesc">The concept of bnb was catching up all over Europe and after experiencing one, I felt I could introduce the same product in my country. Orastays is a bnb that specialises in both short-term and long-term homestays. I was fascinated by this concept of shared economy which monetises hosts and creates local experiences for guests. Not just in the cities but where ever a host was willing to share and guests hoping to visit, Orastays decided to mark its footprint. We are aggregating properties in known and lesser known locations all over India and onboarding them in our technological platform. Travellers will not just get pocket friendly standardised homestay accommodation but also flight booking and car booking all seamlessly managed by Orastays. </p>
          <p class="tdesc">Harnessing technology for a two-way experience and growth for both guests and hosts, Orastays is on the road to filling the gap of 200,000 hotels rooms that fall short all over India. Let’s build this community together by making home for travellers not just in your home but in your heart.</p>
          <a href="" class="read-more-btn"> Read on [+]</a>
          <hr class="hr-sm">
        </div>
        <div class="col-md-6 second-block">
          <h5 class="tname">Namita Nayak</h5>
          <p class="tdesig">MD & Co-founder (Orastays)</p>
          <p class="tdesc">I am a champion of change and like building and moving with the trends. The concept of shared economy has hit the hospitality industry and being a part of it, how can Orastays be behind? Orastays is in the business of shared economy for six years and we have decided to propel it with technology. Onboarding people and building a community is the principal thought behind aggregating attractive and pocket friendly properties in one single platform.</p>
          <p class="tdesc">We identified the wide demand in homestays and thought of monetising it to build an empowered community. The principal of peer to peer accommodations, which completely thrives on experiences is indeed a wonderful thought that appealed to us much early in our business career.</p>
          <p class="tdesc">We started from Salt Lake Kolkata, a place that had huge houses left unoccupied or with just lonely elderlies. Their children live or work in distant places and come for annual visits. When we introduced our concept of network hospitality targeting underutilized real-estate spaces, it found resonance in the community.</p>
          <p class="tdesc">With help from partners, friends and supporters who bailed us through rough patches we moved with determination to achieve our dreams. The journey was rough, and it still is, but the passion that drives us is the community support we get when two strangers meet and transform their one-time association into a lifelong relationship.  The rewards of this entrepreneurship are much sweeter than its monitory profits. We feel satisfied to see a house owner go through not only a rapid financial growth but also happily waiting to meet the next guest and to start another gratifying friendship. Hosting is in the Indian DNA and Orastays just creates opportunities to meet like-minded people. </p>
          <a href="" class="read-more-btn"> Read on [+]</a>
          <hr class="hr-sm">
        </div>
        <div class="col-md-6 pl-0 pr-0">
            <img class="w-100" src="assets/images/team/team_namita.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>