<div class="view-container">

  <div class="container-fluid position-relative p-tb-50">
    <div class="booking-sec">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <img class="w-100 property-img" src="assets/images/property-book.png" alt="">
            </div>
            <div class="col-md-8 property-desc">
              <h4>ORA912255343 <span> Express Homestay</span></h4>
              <p class="text"><i class="fa fa-map-marker" aria-hidden="true"></i> Palace road, Kolkata, India</p>
              <p class="text">Check in: <span> 4th Jan, Friday 2019, 14:00 PM</span> <i></i> Check out: <span> 6th Jan, Sunday 2019, 12:00 PM</span></p>
              <div class="card-room">
                <h5>Deluxe Room <span> 2 Adults + 1 Child</span></h5>
                <div class="row">
                  <div class="col-auto">
                    <label for="">Tariff Type</label>
                    <ul>
                      <li class="green"><i class="fa fa-check"></i> Refundable</li>
                      <li><i class="fa fa-check"></i> Breakfast</li>
                    </ul>
                  </div>
                  <div class="col-auto border-left">
                    <label for="">Tariff Inclusions</label>
                    <ul>
                      <li><i class="fa fa-circle"></i> FREE Breakfast</li>
                      <li><i class="fa fa-circle"></i> Accommodation</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Traveller Information Form -->
              <form action="" class="form">
                <h3>Traveller information</h3>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <select name="" class="form-control">
                        <option value="">Mr.</option>
                        <option value="">Mrs.</option>
                        <option value="">Ms.</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" name="" class="form-control" placeholder="Firdt name">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="text" name="" class="form-control" placeholder="Last name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" name="" class="form-control" placeholder="Company name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" name="" class="form-control" placeholder="Email address">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" name="" class="form-control" placeholder="Contact number">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="" class="form-control">
                        <option value="">Document Type</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" name="" class="form-control" placeholder="Check in preference time">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" name="" class="form-control" placeholder="Check out preference time">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label class="check-box ng-star-inserted"> I have a GST number 
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-md-12">
                    <label class="check-box ng-star-inserted"> I agree to the hotel booking policies. Homestay cancellation policy / Terms & conditions of <pre>ORA</pre> .
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Book your stay</button>
                  </div>
                </div>
              </form>

              <!-- Payment Information -->
              <form action="" class="form">
                <h3>Payment option</h3>
                <ngb-tabset>
                  <ngb-tab title="Credit Card">
                    <ng-template ngbTabContent>
                      <div class="credit-card">
                        <div class="row c-body">
                          <div class="col-auto">
                            <div class="card-img">
                              <img src="assets/images/cards/maestro.png" alt="">
                            </div>
                          </div>
                          <div class="col-auto">
                            <div class="card-img">
                              <img src="assets/images/cards/mastercard.png" alt="">
                            </div>
                          </div>
                          <div class="col-auto">
                            <div class="card-img">
                              <img src="assets/images/cards/visa.png" alt="">
                            </div>
                          </div>
                          <div class="col-auto">
                            <div class="card-img">
                              <img src="assets/images/cards/amex.png" alt="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="" class="form-l">Card number</label>
                              <input type="text" class="form-control" placeholder="**** **** **** 9562">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="" class="form-l">Expairy date</label>
                              <input type="text" class="form-control" placeholder="02/2020">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="" class="form-l">Card holder name</label>
                              <input type="text" class="form-control" placeholder="Full name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="" class="form-l">CVV</label>
                              <input type="text" class="form-control" placeholder="****">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="check-box ng-star-inserted"> I accpet the terms & conditions 
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group text-right">
                              <button class="btn btn-dark">Book your stay</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Online Banking">
                    <ng-template ngbTabContent>
                      <p> Online Banking</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Payment partners">
                    <ng-template ngbTabContent>
                      <p>Payment partners</p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </form>

              <!-- Confirmation Form -->
              <form action="">
                <div class="confirmation-form">
                  <img src="assets/images/cards/thumbsup.png" alt="">
                  <h4 class="title">Thank you for staying with us</h4>
                  <p class="book-id">Booking ID: <span>ORA912255343</span></p>
                  <div class="d-flex justify-content-center">
                    <div class="col-auto">
                      <div class="c-card">
                        <h5>guests</h5>
                        <span>3</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="c-card">
                        <h5>room</h5>
                        <span>1</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="c-card">
                        <h5>price</h5>
                        <span>36,000</span>
                      </div>
                    </div>
                  </div>
                  <p class="book-link">Booking details has been successfully mailed to your email id. Click here to view the <a href="">booking details</a> </p>
                  <button class="btn btn-dark">Book another</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-end">
            <div class="col-auto book-summary">
              <ul class="progress-indicator">
                  <li class="completed">
                      SELECT ROOM
                      <span class="bubble"></span>
                  </li>
                  <li class="completed">
                      REVIEW
                      <span class="bubble"></span>
                  </li>
                  <li>
                      PAYMENT
                      <span class="bubble"></span>
                  </li>
              </ul>
              <h5>Booking summary</h5>
              <table class="table">
                <tr>
                  <td class="text-left">Base price</td>
                  <td class="text-right t-gray">₹21,500</td>
                </tr>
                <tr>
                  <td class="text-left">Taxes & service charges <i></i></td>
                  <td class="text-right t-gray">₹5,117</td>
                </tr>
                <tr class="border-tb">
                  <td class="text-left">Sub total</td>
                  <td class="text-right t-gray">₹36,310.05</td>
                </tr>
                <tr>
                  <td class="text-left total">Total payable</td>
                  <td class="text-right total">₹36,310.05</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
