<div class="policy-container mt-76">
    <div class="container-fluid header-image-slide p-0 head-img-container">
      <img class="w-100" src="assets/images/policy/banner-bg.png" />
      <div class="text-container">
        <h4 class="fs-32">Ora gives high quality service, <br> is friendly and non-patronising </h4>
      </div> 
    </div>

    <!-- Sticky Menu -->
    <app-sticky-menu></app-sticky-menu>

    <!-- Policy Container -->
    <div class="container-fluid position-relative pb-60">
      <div class="container policy-section">
        <h6>Cancellation policy <!-- <span> Last updated on 27th November, 2018</span> --></h6>
        <p>Orastays protects the interest of both the host and the guest. The cancellation policy applies to special circumstances. You must read the cancellation policy before making your reservation. Cancellation policy of each listing will differ from the other and each will have their own policy. Guests will be able to read the cancellation policy of the listing once they are proceeding towards the reservation of a property. Cancellation on long-term reservations of more than 28 night will have different policies that too will be fixed with the concerned listing. </p>

        <h5>Short term booking: </h5>
        <ul>
          <li>Bookings cancelled 60 days before the stay will receive a full 100% refund</li>
          <li>Bookings cancelled from the 60th day to the 30th day of the start of stay will get a 75% refund of their total booking charged</li>
          <li>Booking cancelled from the 30th day to the 15 days of the start of stay will get 50% refund of the total booking charged</li>
          <li>Booking cancelled from the 30th day to the 15 days of the start of stay will get 50% refund of the total booking charged</li>
          <li>Booking cancelled from the 30th day to the 15 days of the start of stay will get 50% refund of the total booking charged</li>
          <li>After the 7th day, the guest will not receive any refund upon cancellation</li>
          <li>If the guest arrives in the property but wishes to leave within 24 hrs. The first night fee will be deducted, and the rest will be returned. However, if the time period exceeds then no refund will be provided</li>
        </ul>

        <h5>Long Term Booking:</h5>
        <p class="m-0">If a guest books a long-term stay and cancels a reservation before the start date, the booking amount for one full month will have to be paid to the host.</p>
        <p class="m-0">After arriving at the property, the guest decides to leave regardless of the checkout date, the guest will need to pay for 30 days following the cancellation date or whatever agreement had been settled with the host during reservation. </p>
        <p class="m-0">In each case of cancellation, the guest will not receive a refund of the GST and the commission amount. </p>

        <!-- <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in massa id neque condimentum dictum vitae vel ipsum. In sed tristique magna, nec fringilla diam. Integer ut malesuada tortor. Ut rhoncus, nisl sed sagittis gravida, nisl justo tempor metus, id interdum lectus diam id ex. Morbi cursus rhoncus justo id lobortis. Vestibulum consequat efficitur pretium. Vivamus mattis ipsum nunc, nec maximus augue commodo sit amet ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Scope of our privacy notice</h5>
        <p class="m-0">Proin auctor elit aliquam, pulvinar orci sit amet, accumsan ipsum. Quisque orci nisl, volutpat vel pellentesque sit amet, eleifend et quam. Phasellus nec ligula ipsum. Donec aliquam erat orci, ut mollis justo suscipit vitae. Etiam sollicitudin sapien elit, eget consequat velit consectetur a. Etiam tempus rutrum ex dictum bibendum. Fusce condimentum, tortor id elementum gravida, magna eros feugiat nunc, sed eleifend ex turpis ac lorem. Etiam euismod nunc ut nisi posuere, in scelerisque mauris commodo. Donec vel risus tortor. Nulla vel bibendum neque. Sed lobortis, turpis quis bibendum luctus, mi nisi vehicula sem, nec tincidunt tortor sem at lectus. Sed ut magna in justo tristique egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla gravida ligula a laoreet mattis ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Ways in which we obtain personal information</h5>
        <p class="m-0">Nunc congue dolor nec mi ullamcorper vulputate. Nullam auctor dolor justo, non hendrerit ex porttitor vel. Nunc nec tincidunt lorem, vel lacinia lorem. Donec imperdiet placerat urna sit amet aliquam. Vestibulum in convallis tortor, nec scelerisque est. Sed est odio, fermentum vel turpis nec, efficitur dictum justo. Aenean et rhoncus tortor. Etiam tristique volutpat diam ac ultrices. Curabitur mattis ullamcorper neque, eu pretium elit elementum id ...</p>
        <a href="" class="read-more-btn mb-40">Read on [+]</a>

        <h5>Categories of personal information</h5>
        <p cl>Curabitur faucibus erat enim, laoreet condimentum ligula consequat eget. Suspendisse ut fringilla ipsum, blandit tincidunt arcu. Nulla aliquet venenatis sem, vel dapibus justo porta quis. Pellentesque ac felis turpis. Nam commodo sem turpis, nec maximus turpis rutrum ac.</p>
        <ul>
          <li>Suspendisse mattis non nunc at vehicula. Donec mattis leo eu nibh fermentum gravida. Nunc quis sollicitudin augue. Praesent suscipit lobortis metus at dictum.</li>
          <li>Vivamus arcu ex, eleifend non finibus eu, pretium sit amet neque. Nunc sed mi mi. Integer blandit luctus orci, sed sollicitudin quam mattis mollis. Fusce semper varius rutrum.</li>
        </ul>
        <a href="" class="read-more-btn">Read on [+]</a> -->
      </div>
    </div>

  </div>
  