<div class="career-container mt-76">
  <div class="container-fluid mb-40">
    <div class="row row-eq-height">
      <div class="col-md-2 top-heading pr-0 m-w-20">
        <h1><span>If you can <span class="t-orange"> Dream </span> <span class="t-white"> it, </span> <br> you can <span class="t-orange"> DO </span> <span class="t-white">it</span></span></h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat ante a elit molestie, non scelerisque odio facilisis. 
            Orci varius natoque penatibus et magnis dis parturient montes.</p>
      </div>
      <div class="col-md-10 m-w-80">
        <div class="row">
          <div class="col-md-8 p-l-r-5">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 p-l-r-5">
                <div><img class="w-100" src="assets/images/career/carrer_banner_1a.png" alt=""></div>
              </div>
              <div class="col-md-6 p-l-r-5 img-last-block">
                <div class="p-b-5"><img class="w-100" src="assets/images/career/carrer_banner_1b.png" alt=""></div>
                <div class="p-t-5"><img class="w-100" src="assets/images/career/carrer_video.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sticky Menu -->
  <app-sticky-menu></app-sticky-menu>

  <!-- Join Our Team -->
  <div class="container-fluid position-relative join-team-section pt-60 pb-60" id="careerJoinWithUs">
    <div class="container">
      <div class="jhead col-md-7 offset-md-5">
        <form>
          <div class="form-row align-items-center">
            <div class="col-auto w-80">
              <input type="text" class="form-control search-box" placeholder="Type your keywords">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary btn-lg search-btn" type="button" tabindex="0"><i class="search-icon"></i>Search</button>
            </div>
          </div>
        </form>
        <p class="text-center mt-50">No one is ever required to pay for employment at ORA. If you are contacted by someone asking for payment, please do not respond, and 
            contact us at <a href="">hr@orastays.com</a> immediately.</p>
      </div>
    </div>
  </div>

  <!-- Life at ORA -->
  <div class="container-fluid position-relative pt-60 pb-60 mt-60"  id="careerLifeOra">
    <div class="container life-at-ora-section">
      <div class="row align-items-center">
        <div class="col-md-5 life-video pr-30">
          <div class="row">
            <div class="col-md-12 video">
              <img class="w-100" src="assets/images/career/carrer_video_1.jpg" alt="">
            </div>
            <div class="col-md-12 img-set">      
              <img class="img-l" src="assets/images/career/carrer_image_1.jpg" alt="">
              <img class="img-r" src="assets/images/career/carrer_image_1a.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-7 pl-30">
          <h3>Life at <span class="ora-logo-black"></span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel erat et ligula dapibus commodo in id purus. Donec consectetur ipsum nibh, eget iaculis eros finibus quis. Donec rutrum congue tellus in convallis. Integer quis eleifend justo, id ornare arcu. Phasellus et hendrerit arcu, eu interdum ante. Sed ipsum orci, vulputate sed dolor eu, consequat accumsan nulla. In sed gravida eros, nec tincidunt justo. Vestibulum nibh est, cursus vitae mi vel, ultrices accumsan lorem. Nullam nec euismod ante. Duis at velit lorem. Cras eu sodales nibh. Donec eleifend lectus pellentesque lorem placerat, in vestibulum lacus pulvinar. Morbi laoreet et ipsum eu consequat. Duis commodo, lacus a efficitur convallis, turpis est pulvinar ligula, ac faucibus justo est non magna. Vestibulum mollis magna ac mattis faucibus.</p>
          <p>Aenean lacus tortor, sollicitudin ut nisl a, lacinia tincidunt felis. Duis porta eleifend commodo. Quisque consectetur mi eu pretium fermentum. Curabitur suscipit justo in egestas gravida. Mauris pretium mattis enim, in gravida libero placerat vel. Maecenas sit amet pharetra elit.</p>
          <!-- <a href="" class="read-more-btn">Read on [+]</a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- People stories -->
  <!-- <div class="container-fluid position-relative pt-60 pb-60"  id="careerPeopleStories">
    <div class="container people-story-section">
      <div class="row align-items-center">
        <div class="col-md-7 pr-30">
          <h3>People Stories</h3>
          <div class="row">
            <div class="col-md-12">
              <p>Curabitur dictum eros et porta condimentum. Cras dignissim odio ac diam porttitor laoreet. Proin sed dolor facilisis, convallis quam ut, interdum est. Donec non risus et libero aliquam fermentum. Phasellus dolor velit, porttitor quis posuere ut, molestie nec libero. Sed a sagittis arcu. Praesent sagittis tincidunt consectetur. Donec pellentesque sem turpis, ut eleifend quam pulvinar fringilla. 
                  Aliquam eu faucibus est, vitae tincidunt ex. In molestie ante ut dolor maximus fermentum. </p>
              <h6 class="p-name">Isabella George</h6>
              <p class="p-dec">Senior associates ( Digital Products) <span> <i class="fa fa-circle"></i> 27th Nov, 2018</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 people-story-video pl-30">
          <img class="w-100" src="assets/images/career/carrer_video_1a.jpg" alt="">
        </div>
      </div>
    </div>
  </div> -->
</div>
