<div class="container-fluid deals-section mb-40">
    <div class="container">
      <h4 class="title">Deals on stays</h4>
      <p class="text">Winning deals make your vacation irresistible</p>
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let offer of offerList.slice().reverse()"> <!-- class = hovereffect -->
          <img src="assets/images/{{offer.imgUrl}}" class="rounded " />
          <!-- <div class="overlay">
            <div class="block d-flex align-items-center">
                <p>{{offer.offerDesc}}</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>