<div class="view-container">

  <div class="container-fluid position-relative p-tb-50">
    <div class="booking-sec">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h3 class="d-flex align-items-center"><i class="head-icon review-icon"></i> Review your booking </h3>
            </div>
            <div class="card-body">
              <h4>Departure : 10th Jan 2018</h4>
              <div class="row flight-info">
                <div class="col-auto d-flex">
                  <img src="assets/images/flight/fl-4.png" alt="" class="flight-img">
                  <div class="ml-2">
                    <span class="f-name d-block">Jet airways</span>
                    <span class="f-number d-block">9W-497</span>
                  </div>
                </div>
                <div class="col-auto">
                  <strong class="location d-block">Kolkata (CCU)</strong>
                  <span class="f-time d-block mt-1">17:45 PM</span>
                </div>
                <div class="col-auto flex-grow-1">
                  <span class="bg-flight-img"></span>
                  <h6 class="mt-2"><span class="dark">15kg</span> <span class="green">Partially Refundable</span></h6>
                </div>
                <div class="col-auto">
                  <strong class="location d-block">Bengaluru (BLR)</strong>
                  <span class="f-time d-block mt-1">19:45 PM</span>
                </div>
                <div class="col-auto">
                  <span class="badge badge-dark d-block">02:30 hrs</span>
                  <span class="c-item d-block mt-1">Business class</span>
                  <span class="c-item d-block mt-1">Non stop</span>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h4>Departure : 10th Jan 2018</h4>
              <div class="row flight-info">
                <div class="col-auto d-flex">
                  <img src="assets/images/flight/fl-4.png" alt="" class="flight-img">
                  <div class="ml-2">
                    <span class="f-name d-block">Jet airways</span>
                    <span class="f-number d-block">9W-497</span>
                  </div>
                </div>
                <div class="col-auto">
                  <strong class="location d-block">Kolkata (CCU)</strong>
                  <span class="f-time d-block mt-1">17:45 PM</span>
                </div>
                <div class="col-auto flex-grow-1">
                  <span class="bg-flight-img"></span>
                  <h6 class="mt-2"><span class="dark">15kg</span> <span class="green">Partially Refundable</span></h6>
                </div>
                <div class="col-auto">
                  <strong class="location d-block">Bengaluru (BLR)</strong>
                  <span class="f-time d-block mt-1">19:45 PM</span>
                </div>
                <div class="col-auto">
                  <span class="badge badge-dark d-block">02:30 hrs</span>
                  <span class="c-item d-block mt-1">Business class</span>
                  <span class="c-item d-block mt-1">Non stop</span>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h5><strong>Important Note <i class="fa fa-info-circle mr-2"></i></strong> This is a special fare given by the airline. The airline does not allow partial cancellation.</h5>
            </div>
          </div>

          <div class="card mt-50">
            <div class="card-header d-flex justify-content-between">
              <h3 class="d-flex align-items-center"><i class="head-icon cancellation-icon"></i> Orastays cancellation protection </h3>
              <button class="btn btn-primary btn-sm">View benefits</button>
            </div>
            <div class="card-body cancellation">
              <label class="check-box ng-star-inserted">
                Zero cancellation fee for your tickets when you cancel. <span class="green"> Pay additional ₹8,994</span> <input type="checkbox"><span class="checkmark"></span>
              </label>
              <hr>
              <h6>Travel smart : Get additional refund  of  <strong>₹8,994</strong> in cashof cancellation.  <a href="" class="c-pointer">Terms & conditions</a></h6>
            </div>
          </div>

          <div class="card mt-50">
            <div class="card-header d-flex justify-content-between">
              <h3 class="d-flex align-items-center"><i class="head-icon traveller-icon"></i> Enter traveller details </h3>
            </div>
            <div class="card-body traveller-form">
              <label for="" class="d-flex align-items-center mb-3"><i class="icon call-icon"></i> Contact details</label>
              <div class="row ml-20">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" name="" class="form-control" placeholder="Enter your mail ID">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" class="form-control">
                      <option value="">+91</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" name="" class="form-control" placeholder="Enter your mobile number">
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>Your booking details will be sent to this email address and mobile number. </h6>
                </div>
              </div>
              <hr>
              <label for="" class="d-flex align-items-center mb-3"><i class="icon travll-icon"></i> Traveller informations</label>
              <div class="row d-flex align-items-center ml-20">
                <div class="col-auto">
                  <div class="form-group">
                    <span>Adult 1</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" class="form-control bg-gray">
                      <option value="">Title</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="First name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="Last name">
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center ml-20">
                <div class="col-auto">
                  <div class="form-group">
                    <span>Adult 2</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" class="form-control bg-gray">
                      <option value="">Title</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="First name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="Last name">
                  </div>
                </div>
              </div>
              <div class="row d-flex align-items-center ml-20">
                <div class="col-auto">
                  <div class="form-group">
                    <span>Adult 3</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" class="form-control bg-gray">
                      <option value="">Title</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="First name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" name="" class="form-control bg-gray" placeholder="Last name">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mt-50">
            <div class="card-header d-flex justify-content-between">
              <h3 class="d-flex align-items-center"><i class="head-icon gst-icon"></i> Add your GST details <span> (optional)</span></h3>
            </div>
            <div class="card-body gst-info">
              <div class="d-flex justify-content-between">
                  <h6>Claim credit of GST charges. Your taxes may get updated post submitting your GST details.</h6>
                  <button class="btn btn-primary btn-sm">Add</button>
              </div>
              <label for="" class="d-flex align-items-center mb-2 mt-30"><i class="icon travll-work-icon"></i> Travelling for work?</label>
              <label class="check-box ng-star-inserted ml-4">
                  Join Orastays for business. <span class="orange"> View benifits</span> <input type="checkbox"><span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="card mt-50">
            <div class="card-header d-flex justify-content-between">
              <h3 class="d-flex align-items-center"><i class="head-icon insurance-icon"></i> Travel assistance & insurance</h3>
            </div>
            <div class="card-body insurance-info">
              <label class="check-box ng-star-inserted">
                  Yes, Add travel assistance & insurance to protect my trip. ( <strong> ₹ 269 </strong> per traveller) <input type="checkbox"><span class="checkmark"></span>
              </label>   
              <label class="mt-3 mb-3 d-block">Cover includes</label>
              <div class="row insurance-cover-sec">
                <div class="auto text-center items">
                  <img src="../../../../assets/images/flight/medical-icon.png" alt="">
                  <p>Roadside & <br>
                      medical assistance</p>
                  <span>Claim upto ₹ 2,000</span>
                </div>
                <div class="col-auto text-center items">
                  <img src="../../../../assets/images/flight/trip-cancel-icon.png" alt="">
                  <p>trip <br>
                      cancellation</p>
                  <span>Claim upto ₹2,000</span>
                </div>
                <div class="col-auto text-center items">
                  <img src="../../../../assets/images/flight/trip-delay-icon.png" alt="">
                  <p>flight <br>
                      delay</p>
                  <span>Claim upto ₹2,000</span>
                </div>
                <div class="col-auto text-center items">
                  <img src="../../../../assets/images/flight/bagagge-icon.png" alt="">
                  <p>loss <br>
                      bagagge</p>
                  <span>Claim upto ₹20,000</span>
                </div>
                <div class="col-auto text-center items">
                  <img src="../../../../assets/images/flight/emergency-icon.png" alt="">
                  <p>Medical <br>
                      emergency</p>
                  <span>Claim upto ₹2,00,000</span>
                </div>
                <div class="col-md-12 text-right mt-1 mb-2">
                  <a href="">View details <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>           
            </div>
            <div class="card-footer">
              <h5>Travel assistance & insurance only for Indian citizens below the age of 70 years. <a href=""> Terms & conditions</a></h5>
            </div>
          </div>

          <div class="card mt-50">
            <div class="card-header d-flex justify-content-between">
              <h3 class="d-flex align-items-center"><i class="head-icon service-icon"></i> Service requests</h3>
            </div>
            <div class="card-body service-info">
              <div class="d-flex justify-content-start">
                <div class="trip-type">
                  <input type="checkbox" name="service-type" id="addMeal" class="input-hidden" (click)="openModal(mealBookingModal)"/>
                  <label class="items" for="addMeal">
                    <img src="assets/images/flight/add-meal-icon.png" alt="">
                    <span class="item-checked"></span>
                  </label>
                  <p class="name">Add meals</p>
                </div>
                <div class="trip-type">
                  <input type="checkbox" name="service-type" id="addBaggage" class="input-hidden" (click)="openModal(baggageBookingModal)"/>
                  <label class="items" for="addBaggage">
                    <img src="assets/images/flight/add-baggage-icon.png" alt="">
                    <span class="item-checked"></span>
                  </label>
                  <p class="name">Add baggage</p>
                </div>
                <div class="trip-type">
                  <input type="checkbox" name="service-type" id="addSeat" class="input-hidden" (click)="openModal(seatBookingModal)"/>
                  <label class="items" for="addSeat">
                    <img src="assets/images/flight/add-seats-icon.png" alt="">
                    <span class="item-checked"></span>
                  </label>
                  <p class="name">select seats</p>
                </div>
              </div>
              <hr>
              <label for="" class="d-flex align-items-center mb-2 mt-30"><i class="icon travll-work-icon"></i> Add - ons <span>  (optional) </span></label>
              <label class="check-box ng-star-inserted ml-4">
                  Flat ₹1000 OFF on Domestic Flights round the year with the Orastays SBI Card. I want to be contacted by the SBI representative to receive 
                  more information. <input type="checkbox"><span class="checkmark"></span>
              </label>
              <label class="check-box ng-star-inserted ml-4">
                  <strong>TAKE OFF</strong> - Giving children a second chance at life! <input type="checkbox"><span class="checkmark"></span>
              </label>
              <p class="text-gray"> <i class="fa fa-inr" aria-hidden="true"></i> 10 will be added as a donation to Save the children India.  <a href=""> View more</a></p>
            </div>
          </div>
          <div class="mt-30 text-right">
            <button class="btn btn-primary btn-lg">Proceed to pay</button>
          </div>
        </div>

        <div class="col-md-4 pos-sticky-right">
          <div class="d-flex justify-content-end">
            <div class="col-md-12 book-summary">
              <!-- <ul class="progress-indicator">
                  <li class="completed">
                      SELECT ROOM
                      <span class="bubble"></span>
                  </li>
                  <li class="completed">
                      REVIEW
                      <span class="bubble"></span>
                  </li>
                  <li>
                      PAYMENT
                      <span class="bubble"></span>
                  </li>
              </ul> -->
              <!-- <h5>Booking summary</h5> -->
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Base fare
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <table class="table">
                    <tr>
                      <td class="text-left">Adult x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 36,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Child x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 1">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Tax & Surcharges
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <table class="table">
                    <tr>
                      <td class="text-left">Fuel charges</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 36,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Passenger service fees</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">GST</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Development fees</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Passenger service fees</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                    <tr>
                      <td class="text-left fs-16">Total</td>
                      <td class="text-right fs-16"><i class="fa fa-inr" aria-hidden="true"></i> 33,000</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Total services
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <table class="table">
                    <tr>
                      <td class="text-left">Adult x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 36,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Child x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Grand total
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <table class="table">
                    <tr>
                      <td class="text-left">Adult x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 36,000</td>
                    </tr>
                    <tr>
                      <td class="text-left">Child x 2</td>
                      <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
              <!-- <ngb-accordion #bookingSummary="ngbAccordion">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Base fare</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table class="table">
                      <tr>
                        <td class="text-left">Adult x 2</td>
                        <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 36,000</td>
                      </tr>
                      <tr>
                        <td class="text-left">Child x 2</td>
                        <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> 13,000</td>
                      </tr>
                    </table>
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Tax & sURcharges</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Total services</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span>Grand total</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    
                  </ng-template>
                </ngb-panel>
              </ngb-accordion> -->
              <!-- <table class="table">
                <tr>
                  <td class="text-left">Base price</td>
                  <td class="text-right t-gray">₹21,500</td>
                </tr>
                <tr>
                  <td class="text-left">Taxes & service charges <i></i></td>
                  <td class="text-right t-gray">₹5,117</td>
                </tr>
                <tr class="border-tb">
                  <td class="text-left">Sub total</td>
                  <td class="text-right t-gray">₹36,310.05</td>
                </tr>
                <tr>
                  <td class="text-left total">Total payable</td>
                  <td class="text-right total">₹36,310.05</td>
                </tr>
              </table> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Meal Booking Modal -->
<ng-template #mealBookingModal let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <h4 class="modal-title d-flex align-items-center"><i class="icon icon-meal"></i> Add meals</h4>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <h4 class="mb-3">Select meal preferences</h4>
      <div class="form-group radio-btn-group ml-4">
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="mealType" checked />
          Oneway
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="mealType" />
          Return
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="mealType" />
          Both side
        </label>
      </div>
      <div class="form-row align-items-center ml-4 mt-4">
        <div class="col-md-12 mb-3">
          <h5>Departure - Bengaluru (BLR) to Kolkata (CCU)</h5>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 2:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Child 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-right footer-btn mt-4">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Baggage Booking Modal -->
<ng-template #baggageBookingModal let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <h4 class="modal-title d-flex align-items-center"><i class="icon icon-baggage"></i> Add baggage</h4>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <h4 class="mb-3">Buy extra baggage allowance</h4>
      <div class="form-group radio-btn-group ml-4">
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" />
          Oneway
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" />
          Return
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" checked/>
          Both side
        </label>
      </div>
      <div class="form-row align-items-center ml-4 mt-4">
        <div class="col-md-12 mb-3">
          <h5>Departure -  Kolkata (CCU) to Bengaluru (BLR)</h5>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 2:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Child 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
      </div>
      <hr class="w-100 mb-0">
      <div class="form-row align-items-center ml-4 mt-4">
        <div class="col-md-12 mb-3">
          <h5>Return - Bengaluru (BLR) to Kolkata (CCU)</h5>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Adult 2:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputPassword6">Child 1:</label>
            <select name="" class="form-control mx-sm-3">
              <option value="">Select your meal</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-right footer-btn mt-4">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Seat Booking Modal -->
<ng-template #seatBookingModal let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <h4 class="modal-title d-flex align-items-center"><i class="icon icon-baggage"></i> Select seats</h4>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <h4 class="mb-3">Select seat preferences</h4>
      <div class="form-group radio-btn-group ml-4">
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" />
          Oneway
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" />
          Return
        </label>
        <label class="mr-3 c-pointer">
          <input type="radio" class="option-input radio" name="baggageType" checked/>
          Both side
        </label>
      </div>
      <div class="">
        <mat-tab-group>
          <mat-tab label="Adult 1"> 
            <div class="seat-map-wrapper">
              <div class="seatLayoutInner">
                <div class="seatLayoutWrapper">
                  <div class="seating-area-wrapper clearfix">
                    <div class="front">
                      <span class="portion">Front</span>
                      <ul class="column">
                        <li class="seat-li"> F </li>
                        <li class="seat-li"> E </li>
                        <li class="seat-li"> D </li>
                        <li class="seat-li"></li>
                        <li class="seat-li"> C </li>
                        <li class="seat-li"> B </li>
                        <li class="seat-li"> A </li>
                      </ul>
                    </div>
                    <!--front close-->
                    <div class="back">
                      <span class="portion">Back</span>
                    </div>
                    <!--back close-->
                    <div class="seating-area">
                      <div class="layerDiv ng-hide" style="width: 939px;"></div>
                      <div class="wing-left" style="margin-left: 259.4px; width: 181.8px;">
                        <span>Seat over wing</span>
                      </div>
                      <div class="floor lower">
                        <div class="seatLayout">
                          <ul class="column ng-scope" *ngFor="let sCol of seatsArray(totalSeatCol)">
                            <li (click)="seatClicked()" id="" class="seat-li colNo right" >{{sCol}}</li>
                            <li (click)="seatClicked()" id="{{sCol}}F" class="seat-li spriteSeatmap booked" ></li>
                            <li (click)="seatClicked()" id="{{sCol}}E" class="seat-li spriteSeatmap avail comfort" ></li>
                            <li (click)="seatClicked()" id="{{sCol}}D" class="seat-li spriteSeatmap avail comfort" ></li>
                            <li class="seat-li"></li>
                            <li (click)="seatClicked()" id="{{sCol}}C" class="seat-li spriteSeatmap avail" ></li>
                            <li (click)="seatClicked()" id="{{sCol}}B" class="seat-li spriteSeatmap booked" ></li>
                            <li (click)="seatClicked()" id="{{sCol}}A" class="seat-li spriteSeatmap avail" ></li>                            
                            <li (click)="seatClicked()" id="" class="seat-li colNo left" >{{sCol}}</li>
                          </ul>
                        </div>
                      </div>
                      <!--wind right close-->
                    </div>
                  </div>
                  <div class="legendHolder">
                    <h4 class="text-center mt-3">Main deck</h4>
                    <div class="legends ng-binding">
                        <li class="seat-li spriteSeatmap "></li>
                        Available Seat(156)
                    </div>
                    <div class="legends ng-binding">
                        <li class="seat-li spriteSeatmap booked"></li>
                        Occupied Seat(24)
                    </div>
                    <div class="legends ng-binding">
                        <li class="seat-li spriteSeatmap selected"></li>
                        Selected Seat(0)
                    </div>
                    <div class="legends ng-binding" ng-show="isPaidSeat">
                        <li class="seat-li spriteSeatmap comfort"></li>
                        Pay for extra comfort(129)
                    </div>
                    <div class="legends">
                        <li class="seat-li spriteSeatmap lavatory"></li>
                        Lavatory
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Adult 2"> Content 2 </mat-tab>
          <mat-tab label="Child 1"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
      <div class="text-right footer-btn mt-4">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>
</ng-template>
