.home-carousel{
    .carousel-caption {
        right: 2%;
        bottom: 40px;
        left: inherit;
        text-align: left;
        width: 50%;
        h3{
            color: #ffffff;
            font-size: 60px;
            font-family: abrialfatface;
        }
        p{
            color: #fefdf3;
            font-family: latobolditalic;
            font-size: 18px;
        }
    }
}
.p-10-30{
    padding: 10px 30px;
}
/* Extra small devices (All smart pjone) */
@media only screen and (max-width: 767px) {
    .home-carousel{
        ::ng-deep .carousel-indicators {
            bottom: -10px;
        }
        .carousel-caption {
            right: 0;
            bottom: 10px;
            left: 0;
            text-align: left;
            width: 100%;
            padding: 0 30px;
            h3{
                font-size: 24px;
            }
            p{
                font-size: 12px;
            }
        }
    } 
    .booking-section{
        position: initial;
        .container{
            padding: 0px;
            .row{
                margin: 0;
                .col-md-5{
                    padding: 0;
                }
            }
            ::ng-deep .nav.nav-tabs{
                background: #fff;
                border-radius: 0;
                border-bottom: 2px solid #dee2e6;
                .nav-link{
                    color: #130504;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    &.active{
                        border-bottom: 2px solid #f47921;
                    }
                    &:hover, &:focus{
                        border-bottom: 2px solid;
                        border-color: #ffffff #ffffff #f47921 !important;
                    }
                }
            }
            ::ng-deep .tab-content{
                box-shadow: none;
                padding: 30px 30px;
                border-bottom: 1px solid #ccc;
                border-radius: 0;
            }
        }
    }
    .features-section{
        display: none;
    }
    .property-listing-section{
        background-image: none;
        padding: 0;
        .container{
            padding: 0;
            .property-tab-block{
                box-shadow: none;
                padding-top: 0;
                ::ng-deep  .nav.nav-tabs{
                    display: -webkit-box;
                    border-bottom: 1px solid #dee2e6;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    .nav-item{
                        &:first-child{
                            margin-left: 0px;
                        }
                        .nav-link{
                            &.active{
                                border-bottom: 3px solid #f47921 !important;
                                border-color: #ffffff #ffffff #f47921;
                            }
                            &:hover, &:focus{
                                border-color: #fff #fff #f47921;
                            }
                        }
                    }
                }
                ::ng-deep .tab-content{
                    .tab-pane{
                        position: relative;
                        margin-top: 25px;
                        .row{
                            overflow-x: auto;
                            flex-wrap: nowrap !important;
                            flex-direction: row !important;
                        }
                        .filter-section{
                            .alert{
                                display: none;
                            }
                        }
                        .text-right{
                            position: inherit;
                        }
                        .quick-filter-btn{
                            background-color: transparent !important;
                            border-color: transparent !important;
                            color: #757373;
                            position: absolute;
                            top: -35px;
                            right: 0;
                            margin-right: 0 !important;
                            padding: 0;
                            label{
                                display: none;
                            }
                        }
                        .view-more-btn{
                            display: none;
                        }
                    }
                }
                .no-mobile-d{
                    display: none;
                }
                .card-body{
                    padding-top: 10px;
                    .card-title{

                    }
                    .alert span.info-text {
                        font-size: 10px;
                        line-height: 14px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .property-desc-section{
        background: #d4d4d4;
        border-radius: 0;
        margin: 0 !important;
        padding: 40px 15px !important;
        h4.title{
            font-size: 24px;
            margin-bottom: 5px;
        }
        h6.desc {
            font-size: 18px;
        }
        .text{
            display: none;
        }
    }
    .deals-section {
        background: #ffffff00;
        .container{
            h4.title{
                color: #130504;
                font-size: 30px;
                margin-bottom: 0px;
            }
            p.text {
                font-size: 18px;
                color: #231f20;
                margin-bottom: 20px;
            }
            .row{
                overflow-x: auto;
                flex-wrap: nowrap !important;
                flex-direction: row !important;
            }
        }
    }
    .about-testimonial-section{
        margin-bottom: 0px;
        .card{
            margin-bottom: 40px;
            .card-body{
                padding-top: 20px;
                padding-bottom: 30px;
                h4.title {
                    margin-bottom: 20px;
                }
                .testimonial-item {
                    margin-bottom: 20px;
                }
                .view-more-btn{
                    float: right;
                }
                &.about-box{
                    .text{
                        display: none;
                    }
                }
            }
        }
    }
} 

// /* Medium devices (Tablets and Ipad) */
// @media only screen and (min-width: 768px) {

// } 

// /* Large devices (laptops/desktops) */
// @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
// } 