<div class="about-us-container mt-76">
  <div class="container-fluid header-image-slide p-0">
    <img class="w-100" src="assets/images/other/about-header-bg.png" data-aos="flip-up"/>
  </div>

  <!-- Sticky Menu -->
  <app-sticky-menu></app-sticky-menu>

  <!-- About Container -->
  <div class="container-fluid position-relative pt-60 pb-60" id="aboutContainer" #aboutContainer>
    <div class="container about-ora-section">
      <div class="row align-items-center">
        <div class="col-md-5 about-video pr-30" data-aos="fade-right">
          <img class="w-100" src="assets/images/other/about-video.png" alt="">
        </div>
        <div class="col-md-7 pl-30" data-aos="fade-left">
          <h3>About <span class="ora-logo-black"></span></h3>
          <h4>Discover Orastays</h4>
          <p>In 2013 two young and energetic founders of Orastays recognised how intimidating a big city can be for a traveller. High end, mid-size or economy hotels, many online vacation rentals, are helpful but can't always meet the satisfaction a traveller expects. Homestay by Orastays is a unique blend of comfort and individualized touch at an affordable price compared to the impersonal luxury offered by commercial properties at a pocket pinching fee. </p>
          <h4>Tracing Orastays’ Journey</h4>
          <p>Founded under the proprietorship of ‘Sinhas Home’, a specific property in Salt Lake, Kolkata, Orastays began with a paltry capital of 1,275 USD making rooms available for both single men and women who travelled to the city to meet short-term professional or educational goals. They enjoyed the distinctive touch that the Orastays location provided. By 2015 the company had made 29% profit with 3 homestay properties having 18 rooms under its banner. Now Orastays has aggregated more than 190 rooms in 22 homestay buildings and its market size is heading towards a steady growth. </p>
          <a href="" class="read-more-btn">Read on [+]</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Vision & Mission Container -->
  <div class="container-fluid position-relative pt-60 pb-60" id="visionContainer" #visionContainer>
    <div class="container vision-mission-section">
      <div class="row">
        <div class="col-md-7 pr-30">
          <h3 data-aos="fade-right">Vision & Mission</h3>
          <div class="row">
            <div class="col-md-6"  data-aos="fade-up">
              <h6><span></span> Our Journey</h6>
              <p>Orastays recognised that international travel is crucial to many urban economies around the world. People just do not travel for holidays, and a large section that includes students and professionals’ alike travel on tight budget. Many companies are curtailing expenses for their sales and IT teams travelling to other cities. Instead of spending on high budget hotels they are choosing premium properties from Orastays with comfortable travel experience for overnight or a short-term stay. Medical tourists also widely seek homestays listed on Orastays.</p>
              <p>Conversely house owners looking for extra revenue are happy to share their spaces, while supplying   the comforts of home by meeting the standards set by Orastays. This two-fold model marketplace of sharing economy is building a society based on trust, relationship, respect, and a greater global culture. </p>
              <a href="" class="read-more-btn">Read on [+]</a>
            </div>
            <div class="col-md-6"  data-aos="fade-up">
              <h6><span></span> Our Goals </h6>
              <p>Ensuring travellers have an inclusive experience of travel and stay, Orastays extends flight booking facilities for its guests, making their entire journey seamless.</p>
              <p>Catering to both premium and express customers Orastays has diversified its location specifications to match the needs of each customer individually. It also has long term paying guest facilities for students and working professionals and is the largest Paying Guest chain In Salt Lake, Kolkata. The security standards further bridge relationships between the guest and the host enhancing the experience of a memorable homestay. Touching on traditions and local flavours Orastays is building a global community network which is just not reaching out to local homes but building lifelong relationships.</p>
              <a href="" class="read-more-btn">Read on [+]</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 vision-mission-img pl-30" data-aos="fade-left">
          <img class="w-100" src="assets/images/other/vision-mision.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Growth story -->
  <div class="container-fluid position-relative growth-story-section pt-60 pb-60" id="storyContainer" #storyContainer>
    <div class="container" data-aos="zoom-in">
      <div class="g-head">
        <h3 class="text-center" data-aos="zoom-in-left">Growth Story</h3>
        <!-- <p class="text-center" data-aos="zoom-in-right">We believe that every traveller is unique. Hence we aim to provide unique accommodations to the users 
            as per their requirement, preference and choice.</p> -->
            <p class="text-center" data-aos="zoom-in-right">Orastays is launching its technology based online homestay booking platform with support from partners.  It is the largest PG chain In Salt Lake, Kolkata today. Ora is expanding its reach both inbound and outbound.</p>
      </div>
      <form-wizard>
        <wizard-step [title]="'2013'">
          <div class="row">
            <div class="col-md-4 pr-30" data-aos="fade-right">
              <img class="w-100" src="assets/images/other/leaf-icon.png" alt="">
            </div>
            <div class="col-md-8 pl-30" data-aos="fade-left">
              <h5 class="h-heading">FY 2013</h5>
              <!-- <p class="h-text">Started as proprietorship company with One homestay!</p> -->
              <p class="h-line">Orastays Founded as proprietorship firm “Sinhas Home” in Salt Lake, Kolkata </p>
                <p class="h-line">Started homestay service with 3 rooms and 8 female customers and 1 building</p>
                  <p class="h-line">Started with 1257 USD Working Capital.</p>
              <!-- <p class="h-line">Etiam a dapibus sapien, quis consectetur nunc. Nam sed lacinia ipsum, vitae imperdiet eros. Morbi scelerisque 
                  vestibulum ligula, at faucibus tellus malesuada nec. In scelerisque urna est, nec molestie quam pulvinar a. Phasellus leo justo, egestas sit amet dignissim nec, laoreet et magna.</p> -->
            </div>
          </div>
        </wizard-step>
        <wizard-step [title]="'14-15'">
          <div class="row">
            <div class="col-md-4 pr-30">
              <img class="w-100" src="assets/images/other/leaf-icon.png" alt="">
            </div>
            <div class="col-md-8 pl-30">
              <h5 class="h-heading">FY 2014 – 2015</h5>
              <p class="h-text">The number of rooms grew to a total of 18</p>
              <p class="h-line">They had acquired 3 Homestay buildings</p>
              <p class="h-line">Turnover reached 18162 USD</p>
              <p class="h-line">With Net profit approx. - 29% </p>
            </div>
          </div>
        </wizard-step>
        <wizard-step [title]="'15-16'">
          <div class="row">
            <div class="col-md-4 pr-30">
              <img class="w-100" src="assets/images/other/leaf-icon.png" alt="">
            </div>
            <div class="col-md-8 pl-30">
              <h5 class="h-heading">FY 2015 - 2016</h5>
              <p class="h-text">Total rooms reach 76</p>
              <p class="h-line">Homestay Buildings – 11</p>
              <p class="h-line">Turnover Reached – USD 72649</p>
              <p class="h-line">Net Profit Approx. – 9%</p>
              <p class="h-line">Added Corporate clients Like CTS, PWC, Techno India for providing services to their employees and students.</p>              
            </div>
          </div>
        </wizard-step>
        <wizard-step [title]="'16-17'">
          <div class="row">
            <div class="col-md-4 pr-30">
              <img class="w-100" src="assets/images/other/leaf-icon.png" alt="">
            </div>
            <div class="col-md-8 pl-30">
              <h5 class="h-heading">FY 2016 – 2017</h5>
              <p class="h-text">Total rooms reach – 153</p>
              <p class="h-line">Homestay Buildings – 19</p>
              <p class="h-line">Turnover Reached – USD 181623</p>
              <p class="h-line">Net Profit – 8.9%</p>
              <p class="h-line">Incorporated as Sinhas Home Pvt Ltd</p>
              <p class="h-line">“ORA” brand name registered</p>
              <p class="h-line">Recognised Under Start-up India Scheme</p>
              <p class="h-line">Started Operations into Luxury Guesthouses</p>
              <p class="h-line">Recognised by IIM Calcutta as among top 3000 start-up of 2018 In India.</p>
              <p class="h-line">Plan to incorporate technology</p>
            </div>
          </div>
        </wizard-step>
        <wizard-step [title]="'17-18'">
          <div class="row">
            <div class="col-md-4 pr-30">
              <img class="w-100" src="assets/images/other/leaf-icon.png" alt="">
            </div>
            <div class="col-md-8 pl-30">
              <h5 class="h-heading">FY 2017 – 2018</h5>
              <p class="h-text">Total Rooms reaches -190</p>
              <p class="h-line">Homestay Buildings – 22</p>
              <p class="h-line">Turnover – USD 419130</p>
              <p class="h-line">Expected Net Profit – 5%</p>
              <p class="h-line">Technology based operations started</p>
              <p class="h-line">Website and App development in progress</p>
              <p class="h-line">Seed Funded by Multicon Realty</p>
            </div>
          </div>
        </wizard-step>
      </form-wizard>
    </div>
  </div>

  <!-- Sustainability -->
  <div class="container-fluid position-relative pt-60 pb-60 mb-60" id="sustainabilityContainer" #sustainabilityContainer>
    <div class="container sustainability-section">
      <div class="row align-items-center">
        <div class="col-md-7 pr-30">
          <h3 class="mb-20" data-aos="fade-down">Sustainability</h3>
          <div data-aos="fade-right">
            <!-- <p class="s-head">Praesent luctus quam lacus</p> -->
            <p>When we are in the midst of a sustainable awakening, Orastays standardised homestays, based on the principle of shared economy agree with the goals of sustainable development with an efficient use of existing resources.</p>
            <p>Orastays is creating social values, enhancing the society culturally, and environmentally making a valuable contribution to the community. They are cutting cost across all levels by saving on water, energy, food, and recycling but keeping up good and reasonable standards of hospitality.</p>
            <p>Homestays are playing a key role in the discovery of new tourism destinations and promoting the local shops and businesses. The nature of consumer participation and collaborative consumption is the driving force of sustainability. </p>
            <p>On the demand side, the access to sharing economy creates new markets every day. It involves ‘high impact' capital which is its people, it places this capital to higher degrees of full deployment. Ora, based on the network of social exchanges, blurs the line between personal and purely professional. The coming home feeling from the airport is much more appealing than driving to a hotel.</p>
            <p>Job roles are also more flexible as the guests can become hosts and hosts, guests by exchanging their properties. Technology helps to create a better and a larger community of like-minded people who not only communicate to book a homestay but also reach out to build a lasting friendship.</p>
            <a href="" class="read-more-btn">Read on [+]</a>
          </div>
        </div>
        <div class="col-md-5 sustainability-img pl-30" data-aos="fade-left">
          <img class="w-100" src="assets/images/other/sustainability-img.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Awards & Recognisations -->
  <div class="container-fluid position-relative pt-60 pb-60" id="awardContainer" #awardContainer>
    <div class="container awards-section">
      <div class="row align-items-center">
        <div class="col-md-5 awards-img pr-30" data-aos="fade-right">
          <img class="w-100" src="assets/images/other/award-img.png" alt="">
        </div>
        <div class="col-md-7 pl-30" data-aos="fade-left">
          <h3 class="text-center mb-20">Award & Recognition</h3>
          <div class="d-flex">
            <div class="ngu-carousel">
              <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
                  <div *nguCarouselDef="let item;" class="item text-center">
                      <img src="assets/images/other/{{item.img}}" alt="">
                      <!-- <p>{{item.text}}</p> -->
                      <p>Awarded the most promising Startup in 2018 for Excellence in Innovation and AI Enabled Application and Website. Assocham Seed Investors, East India’s Premier Real Estate Company presented the award in the Cybercon 2018 Technology Excellence Award Ceremony. </p>
                  </div>
                  <button NguCarouselNext class="slide-right-btn"></button>
                  <button NguCarouselPrev class="slide-left-btn"></button>
                </ngu-carousel>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
