<div class="view-container">

  <div class="container-fluid position-relative p-tb-50">
    <div class="booking-sec">
      <div class="confirmation-form">
        <img src="assets/images/cards/thumbsup.png" alt="">
        <h4 class="title">Thank you for staying with us</h4>
        <p class="book-id">Booking ID: <span>ORA912255343</span></p>
        <div class="d-flex justify-content-center">
          <div class="col-auto">
            <div class="c-card">
              <h5>guests</h5>
              <span>3</span>
            </div>
          </div>
          <div class="col-auto">
            <div class="c-card">
              <h5>room</h5>
              <span>1</span>
            </div>
          </div>
          <div class="col-auto">
            <div class="c-card">
              <h5>price</h5>
              <span>36,000</span>
            </div>
          </div>
        </div>
        <p class="book-link">Booking details has been successfully mailed to your email id. Click here to view the <a href="">booking details</a> </p>
        <button class="btn btn-dark" routerLink="/">Book another</button>
      </div>
    </div>
  </div>
</div>
 
