<div class="policy-container mt-76">
  <div class="container-fluid header-image-slide p-0">
    <img class="w-100" src="assets/images/policy/banner-bg.png" />
  </div>

  <div class="container-fluid secondary-menu">
    <div class="container ">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div ngbDropdown>
          <button class="btn" ngbDropdownToggle>Privacy Policy</button>
        </div>
        <div ngbDropdown>
          <button class="btn" ngbDropdownToggle>Cancellation Policy</button>
        </div>
      </nav>
    </div>
  </div>

  <!-- Policy Container -->
  <div class="container-fluid position-relative pb-60">
    <div class="container policy-section">
      <h6>Privacy policy <span> Last updated on 27th November, 2018</span></h6>
      <p>Thank you for using Orastays!</p>
      <p>Orastays is a community-based platform, supporting community trust, faith tolerance and security. We are moving towards a stronger and freer society and therefore it becomes important to respect each individual while abiding by the laws that govern and hold the society together in each region. Consequently, to maintain transparency and security, Orastay’s Privacy Policy protects all content and information provided to us by users. It could be personal information or payment related information. We want to assure you that each member in Orastays is safe and secure with us. Read our Privacy Policy to understand us better. </p>
      <p>From henceforth for a better understanding ‘us’ and ‘we’ would refer to Orastays and ‘you’ and ‘your’ would refer to the guest and host.</p>
      <h5>INFORMATION ABOUT YOU</h5>
      <h5>Information We Get from You</h5>
      <p class="m-0">Orastays collects personal information about you.  It is necessary to form a contract for smooth functioning of the site keeping in view the legal obligations. This is important as it would help us take care of your requested services and make your experience with Orastays a pleasant one.</p>
      <p><span style="font-weight: bold">Account Details:</span> When signing in to Orastays you need to provide a complete account information that would include your first name, last name, email address and date of birth.</p>
      <p><span style="font-weight: bold">Property listing and profile:</span> This will include features like (booking or creating a listing of the property), the additional information would include address, phone number and profile picture.</p>
      <p><span style="font-weight: bold">Identity verification:</span> To create a trusted environment, it is important to have an identity verification. It could include images of a government issued ID, Passport, national ID Card or driving license as applicable by the laws of a country or region. Any other form of authentication that complies with government approval will be accepted.</p>
      <p><span style="font-weight: bold">Payment Information:</span> Orastays will need certain financial information from you (like credit/debit card information or bank account number) This would be taken to facilitate the payment process via Orastays.</p>
      <p><span style="font-weight: bold">Communication with Orastays and members:</span> The emails communication exchanges with Orastays or guests with host are collected by us.</p>
      <a href="" class="read-more-btn mb-40">Read on [+]</a>

      <h5>INFORMATION YOU WISH TO GIVE US</h5>
      <h5>Additional Profile Information</h5>
      <p class="m-0">There is a lot of additional personal information that you could provide, and we will only publish the same with your consent. </p>
      <p></p>
      <h5>Address Book Contact Information</h5>
      <p class="m-0">The profile information you would like to share: Additional information like gender, preferred language(s), a personal description and the place to which you belong are some information that could be a part of your public profile page and can be viewed by all publicly.</p>
      <p></p>
      <h5>Other Information</h5>
      <p class="m-0">There will be additional information when you fill a form, conduct a search, update or add information to your Orastays account, post on the community form, participate in promotions, respond to surveys and use other features available in the Orastays community network.</p>
      <p></p>
      <a href="" class="read-more-btn mb-40">Read on [+]</a>

      <h5>INFORMATION THAT IS NECESSARY FOR THE USE OF THE PAYMENT SERVICES </h5>
      <h5>Payment Information</h5>
      <p class="m-0">Information needs to be collected for the Payment data Controller to check money laundering. This is imperative for keeping your payment service smooth.</p>
      <p class="m-0">When the payment service is used the payment Data Controller requires certain information (like bank account and credit card details) for processing payment with compliance to the applicable law.</p>
      <p></p>
      <h5>Identity Verification and Other Information</h5>
      <p class="m-0">The Payment Data Controller will need an identity verification if you are the host. These could be government issued ID, passport, national ID card, or driving license and other authentication information like date of birth, your address, email address, phone number etc. in order to verify your identity that agree with the government payment services.</p>
      <p></p>
      <h5>Information That Gets Automatically Collected From The Orastays Platform or Payment Services</h5>
      <P class="M-0">Some information is automatically collected in the Orastays Platform. This information is automatically received from the payment services. It is collected and included within personal information. This information is adequate for the performance of the service that is required by you from us. We comply by the legal obligations and standby the legitimate interest to improve our service functionality by making your payment experience hassle free and secure. </P>
      <P></P>
      <h5>Geolocator Information</h5>
      <p class="m-0">We try to locate you through your mobile device locator and determine your approximate position. This is done through the IP address or mobile device's GPS to enhance your user experience. However most mobile devices allow you to disable the use of the location service app. But Orastays collects information even when the app in not enabled through your settings device permission.</p>
      <p></p>
      <h5>Usage Information</h5>
      <p class="m-0">Information is also collected on the content you view and the pages you have visited, the searches listing the bookings you have made and the actions you have taken on the Orastays platform. All these help us form an idea about your likes and dislikes.</p>
      <p></p>
      <h5>Log Data and Device Information</h5>
      <p class="m-0">You Log Data and Device Data are automatically collected when you access the Orastays platform without an account with us. We know details about time, hardware and software information, the device information, device event information, unique identifiers, crash data. cookie data and all the pages you viewed before and after you were in the Orastays website. </p>
      <p></p>
      <h5>Cookies and Similar Technologies</h5>
      <p class="m-0">Use of technologies like web beacons, pixels, mobile identifiers and tracking URLs help us to understand the user behavior. There are various reasons for this. We want you to have smooth access to the Orastays platform and our Payment services. Not just some specific services but our entire product should be a pleasant experience. We want to make you aware of the deals that will interest you as an individual user, to create interesting content that agree with your choice, to enforce the legal agreement that govern the Orastays platform, detection of frauds, prevention and investigation, analysis, research, product development and regulatory compliance that will enhance your experience with Orastays.</p>
      <p class="m-0">The business partners of Orastays can also use tracking technologies or use third parties to track your behavior on our behalf.</p>
      <p class="m-0">Most browsers agree to accept cookies, however, there is an option to modify. If you choose to decline cookies you may not get all the facilities of Orastays as intended. Some may not work at all.</p>
      <p></p>
      <h5>Payment Transaction Information</h5>
      <p class="m-0">Orastays collects information related to payment transaction. The information automatically collected include payment instrument used, date and time, payment amount, payment instrument expiration date and billing postcode, PayPal email address, IFSC and IBAN information, your address and other related transaction details. This information is necessary for the adequate performance of the contract between you and Orastays Payments and to allow the provision of the Payment Services.</p>
      <p></p>
      <h5>Information We Collect from Third Parties</h5>
      <p class="m-0">Orastays may collect information through other sources and this could include personal information about you. We do not control, supervise and respond to how the third-parties providing your information process your data. Therefore, any information regarding the disclosure of your personal details should be directly discussed with the third-parties. </p>
      <p></p>
      <a href="" class="read-more-btn mb-40">Read on [+]</a>
      <h5>Who are these Third-Party Services?</h5>
      <p class="m-0">If your login to Orastays is through Facebook, Google, WeChat etc., these third-party services may send information like registration and profile information from that service. This information is then controlled by the third-party service holder. This is a privacy setting as authorized by you in the privacy policy of that service.</p>
      <p></p>
      <h5>Your References</h5>
      <p class="m-0">If someone has written a reference for you, we will publish it in your Orastays profile page with your consent. </p>
      <p></p>
      <h5>Background Check</h5>
      <p class="m-0">Orastays performs a background check with the government IDs that you submit at the time of registration.</p>
      <p class="m-0">Other Sources: We check in compliance with the existing law some additional information like demographic data or fraud detection information from third party service providers and compare and combine the information with ours.</p>
      <p></p>
      <a href="" class="read-more-btn mb-40">Read on [+]</a>

      
      <!-- <p cl>Curabitur faucibus erat enim, laoreet condimentum ligula consequat eget. Suspendisse ut fringilla ipsum, blandit tincidunt arcu. Nulla aliquet venenatis sem, vel dapibus justo porta quis. Pellentesque ac felis turpis. Nam commodo sem turpis, nec maximus turpis rutrum ac.</p>
      <ul>
        <li>Suspendisse mattis non nunc at vehicula. Donec mattis leo eu nibh fermentum gravida. Nunc quis sollicitudin augue. Praesent suscipit lobortis metus at dictum.</li>
        <li>Vivamus arcu ex, eleifend non finibus eu, pretium sit amet neque. Nunc sed mi mi. Integer blandit luctus orci, sed sollicitudin quam mattis mollis. Fusce semper varius rutrum.</li>
      </ul>
      <a href="" class="read-more-btn">Read on [+]</a> -->
    </div>
  </div>

</div>
