<div class="career-container mt-76">
  <div class="container-fluid mb-40">
    <div class="row row-eq-height">
      <div class="col-md-2 top-heading pr-0 m-w-20">
        <h1><span>Dream to  <span class="t-orange"> Set Goals, </span> <span class="t-white"> </span> <br> Commit to <span class="t-orange">  Realize… </span> <span class="t-white"></span></span></h1>
        <p class="desc">If you think that no workstation is after your heart - you haven’t met the right one. Orastays is one such platform that creates a home inside office and understands people. </p>
      </div>
      <div class="col-md-10 m-w-80">
        <div class="row">
          <div class="col-md-8 p-l-r-5">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 p-l-r-5">
                <div><img class="w-100" src="assets/images/career/carrer_banner_1a.png" alt=""></div>
              </div>
              <div class="col-md-6 p-l-r-5 img-last-block">
                <div class="p-b-5"><img class="w-100" src="assets/images/career/carrer_banner_1b.png" alt=""></div>
                <div class="p-t-5"><img class="w-100" src="assets/images/career/carrer_video.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sticky Menu -->
  <app-sticky-menu></app-sticky-menu>

  <!-- Join Our Team -->
  <div class="container-fluid position-relative join-team-section pt-60 pb-60" id="careerJoinWithUs">
    <div class="container">
      <div class="jhead col-md-7 offset-md-5">
        <form>
          <div class="form-row align-items-center">
            <div class="col-md-9">
              <input type="text" class="form-control search-box" placeholder="Type your keywords">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-lg search-btn" type="button" tabindex="0"><i class="search-icon"></i>Search</button>
            </div>
          </div>
        </form>
          <p class="text-center mt-50">If you believe in personal change and success and imagine a career to transform your life, then come join Orastays. </p>
          <p class="text-center m-0">To apply shoot your resume to <a href=""> hr@orastays.com</a> </p>   
          <p class="text-center m-0"> If your profile matches with our requirement, we will contact you.</p>
      </div>
    </div>
  </div>

  <!-- Life at ORA -->
  <div class="container-fluid position-relative pt-60 pb-60 mt-60"  id="careerLifeOra">
    <div class="container life-at-ora-section">
      <div class="row align-items-center">
        <div class="col-md-5 life-video pr-30">
          <div class="row">
            <div class="col-md-12 video">
              <img class="w-100" src="assets/images/career/carrer_video_1.png" alt="">
            </div>
            <div class="col-md-12 img-set">      
              <img class="img-l" src="assets/images/career/carrer_image_1.png" alt="">
              <img class="img-r" src="assets/images/career/carrer_image_1a.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-7 pl-30">
          <h3>Life at <span class="ora-logo-black"></span></h3>
          <p>The term family has a profound role in the workstation of Orastays. Indeed, this Homestay Platform gives a new dimension to home and family right from its own nook. A company built on defined principles of a ’feel good’ factor, employees get a warm welcome as soon as they step into the warm confines of its work station.</p>
          <p>Employee friendly and respectful towards one another, Orastays makes work enjoyable and fun.  Employees joining Orastays fit in easily with the crazy bunch of self-motivated, self-driven work freaks who do not define work in hours but enjoy what they do. They have fun like a family in office. They look after each other, stay with each other and build the company together to take it to its deserving height.</p>
          <p>Their belief in their product is the force behind all the energy in the making of Orastays.  </p>
          <p><strong>They are the dreamers of today and achievers of tomorrow!</strong></p>
          <!-- <a href="" class="read-more-btn">Read on [+]</a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- People stories -->
  <!-- <div class="container-fluid position-relative pt-60 pb-60"  id="careerPeopleStories">
    <div class="container people-story-section">
      <div class="row align-items-center">
        <div class="col-md-7 pr-30">
          <h3>People Stories</h3>
          <div class="row">
            <div class="col-md-12">
              <p>Curabitur dictum eros et porta condimentum. Cras dignissim odio ac diam porttitor laoreet. Proin sed dolor facilisis, convallis quam ut, interdum est. Donec non risus et libero aliquam fermentum. Phasellus dolor velit, porttitor quis posuere ut, molestie nec libero. Sed a sagittis arcu. Praesent sagittis tincidunt consectetur. Donec pellentesque sem turpis, ut eleifend quam pulvinar fringilla. 
                  Aliquam eu faucibus est, vitae tincidunt ex. In molestie ante ut dolor maximus fermentum. </p>
              <h6 class="p-name">Isabella George</h6>
              <p class="p-dec">Senior associates ( Digital Products) <span> <i class="fa fa-circle"></i> 27th Nov, 2018</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-5 people-story-video pl-30">
          <img class="w-100" src="assets/images/career/carrer_video_1a.jpg" alt="">
        </div>
      </div>
    </div>
  </div> -->
</div>
